{% extends "layouts/main.html" %}

{% set pageName="View your amended contract" %}

{% block beforeContent %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">Viewing as Shaftesbury Technical College (UKPRN: 10002345) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
 </div>
<!-- Pahse banner end -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../list-view.html">Currently funded contracts and agreements</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">View your amended contract
      </li>
    </ol>
  </div>

  {% endblock %}

{% block content %}
<header>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "p1kzsetroa");
</script>
</header>

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">

          <div class="govuk-error-summary govuk-!-margin-left-3" data-module="govuk-error-summary">
            <div role="alert">
              <h1 class="govuk-error-summary__title">
                There is a problem
              </h1>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#contact">You must confirm whether or not you have read and understood the amendment(s)</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
            <h1 class="govuk-caption-l govuk-!-padding-left-3">Education and skills funding (EDSK) contract variation for 2023 to 2024 <span class="govuk-!-font-weight-bold">.  Version 2</span>
              <strong class="govuk-tag govuk-!-padding-left-2">
                Ready to review
              </strong>
             </h1>
            <h1 class="govuk-heading-l govuk-!-padding-left-3">View your amended contract</h1>
            <div class="govuk-grid-column-two-thirds">
                <section class="attachment">
                  <div class="attachment-thumb">
                    <a class="thumbnail pdf-open-link" target="_blank" href="/public/downloads/Dummy sample PDF_Ready to review EDSK V8_p1.pdf" download = "Dummy sample PDF_Ready to review EDSK V8_p1.pdf">
                        <img title="This PDF will open in a new window" class="pdf" alt="Contract document" src="/public/images/pdf.png">
                    </a>
                  </div>
                  <div class="govuk-grid-column-one-thirds">
                          <a class="govuk-link govuk-!-font-weight-bold" href="/public/downloads/Dummy sample PDF_Ready to review EDSK V8_p1.pdf" download = "Dummy sample PDF_Ready to review EDSK V8_p1.pdf" id="downloadContractLink" rel="external" target="_blank"> Education and skills funding (EDSK) contract variation for 2023 to 2024. Version 2 (PDF, 1718KB) (opens in new tab)</a>
                  </div>
                </section>
              </div>  
                <div class="govuk-grid-column-full govuk-!-padding-top-3">
                    <p class="govuk-!-font-size-24">This contract was amended by the Education and Skills Funding Agency on 22 January 2025.</p>
                  <div class="govuk-inset-text">
                    <p class="govuk-body"> You should download this contract variation and review the amendment(s) as your organisation’s funding allocation may have changed.
                    </p>
                    <p class="govuk-body">
                    This contract variation does not need to be signed.
                   </p>
                  </div>
                </div>  
                  <div class="govuk-grid-column-full">
                   
                    <div class="govuk-form-group govuk-form-group--error">
                      <fieldset class="govuk-fieldset" aria-describedby="whereDoYouLive-error">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            Confirm you have read and understood the amendment(s)
                          </h1>
                        </legend>
                        <div id="contact-hint" class="govuk-hint">
                          Select one of the options below. The ‘Ready to review’ alert disappears only after you have selected ‘Yes’ 
                        </div>
                        <p id="whereDoYouLive-error" class="govuk-error-message">
                          <span class="govuk-visually-hidden">Error:</span> You must confirm whether or not you have read and understood the amendment(s)
                        </p>
                        <div class="govuk-radios" data-module="govuk-radios"id="contact">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radio1" name="contact" type="radio" value="radio1" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="contact">
                              Yes, my organisation has read and understood the amendment(s)
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radio2" name="contact" type="radio" value="radio2" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-radios__label" for="contact">
                              No, my organisation is still reviewing the amendments(s)
                          </div>
                        </div>
                      </fieldset>
                    </div>
                      <p class="govuk-body">This contract has been signed by the authorised signatory for the Education and Skills Funding Agency, acting on behalf of the Secretary of State, and has been digitally signed by all parties.</p>
                      <p class="govuk-body">This contract was signed by [authorised representative] on [Date] at [Time] as the provider’s authorised signatory.</p>
                  </div>
              <div class="govuk-grid-column-full govuk-!-padding-top-4 ">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                      <div class="govuk-button-group">
                        <button class="govuk-button"  id="button" onclick="checkRadio()" data-module="govuk-button">
                          Continue
                      </button>
                        <div class="govuk-radios__divider govuk-!-padding-right-2">or</div>
                        <a type="submit" href="../raise-a-query/raise-a-query.html" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                          Submit a contract query
                        </a>
                    </div>
                  </fieldset>
                </div>
              </div>
              </div>
              <div class="govuk-grid-row  govuk-!-padding-left-1">

                <h2 class="govuk-heading-m">Contract history</h2>
                  <p class="govuk-body">
                        <a href="../contract-history/contract-history-page-v3.html" class="govuk-link">View all versions of this contract</a>
                   </p>
                  
              </div>
         </div>
      </div>  
   </main>
{% endblock %}
{% block pageScripts %}
  <script src="/public/javascripts/radio-error.js"></script>
{% endblock %}
