{% extends "layouts/main.html" %}
 
{% set pageName="Allocation history" %}
 
{% block content %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-phase-banner__content">
            <span class="govuk-phase-banner__text">Viewing as Trn (Train) Ltd. (UKPRN: 10000082) </span>
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-phase-banner__content">
            <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
            <span class="govuk-link"><a href="#" >Sign out</a></span>
          </p>
        </div>
    </div>
   </div>
<!-- Pahse banner end -->
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../allocation-dashboard.html">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../choose-statement-type.html">Choose a statement type</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../statement-list-page.html">19+ Allocation statements</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">Allocation history
          </ol>
    </div>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l govuk-!-padding-top-6"><span class="govuk-caption-xl">Apprenticeship carry-in </span>Allocation history</h1>
            <p class="govuk-body govuk-!-font-size-24">View detailed breakdowns of apprenticeship carry-in for each academic year.</p>
            </div>
      </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-6">AY 2024 to 2025</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Published</th>
                    <th scope="col" class="govuk-table__header govuk-!-padding-right-7">Version</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link govuk-!-padding-right-1" href="./statement-pages/apprenticeship-carry-in.html" >8 August 2024 </a> 
                          <strong class="govuk-tag">
                            Latest
                          </strong></th>
                        <td class="govuk-table__cell">Version 1</td>
                      </tr>                   
                    </tbody>
                </table>
                <table class="govuk-table">
                  <caption class="govuk-table__caption govuk-table__caption--m">AY 2023 to 2024</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Published</th>
                      <th scope="col" class="govuk-table__header govuk-!-padding-right-1">Version</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >10 August 2023 </a></th>
                      <td class="govuk-table__cell">Version 1</td>
                    </tr>
                  </tbody>
              </table>
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">AY 2022 to 2023</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Published</th>
                    <th scope="col" class="govuk-table__header">Version</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >8 August 2022 </a> </th>
                    <td class="govuk-table__cell">Version 1</td>
                  </tr>
                </tbody>
            </table>
         </div>
      </div>
    </main>
{% endblock %}