//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.dashboard-item {
	height:220px;
}

.dashboard-item a {
    text-decoration: none;
}

a:visited {
    color: #4c2c92;
}

.tile-wrap {
	border: 2px solid #4a4a4a;
    border-radius: 6px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 150px;
    max-height: 150px;
    max-width: 340px;
    padding: 15px 20px 70px;
    position: relative;
}

.tile-wrap h3 {
    font-weight: bold;
	color:#0b0c0c;
	z-index:2;
    font-size: 22px;
	position:relative;
    width: 100%;
    display: block;
    line-height: 27px;
    margin-bottom: 25px;
}

.tile-wrap.short h3 {
	font-weight: bold;
    font-size: 22px;
    width: 100%;
    display: block;
    line-height: 22px;
    margin-bottom: 0px;
}





.tile-wrap p {
    background-color: transparent;
    color: #FFF;
    position: absolute;
    font-size: 18px;
    width: 100%;
    display: block;
    line-height: 20px;
    padding: 14px 10px 10px 20px;
    margin-bottom: 0px;
    left: 0px;
    bottom: 0px;
    font-weight: bold;
    box-sizing: border-box;
}

.tile-wrap a {
	display: block;
    background-color: #00703c;
    color: #FFF;
    position: absolute;
    font-size: 18px;
    width: 100%;
    padding: 14px 10px 10px 20px;
    left: 0px;
    bottom: 0px;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
}

.tile-wrap a:hover {
	background-color:#005a30;
}

/* Alerts */

.alert-wrap {
    font-size: 16px;
    font-weight: bold;
	line-height: 24px;
    color: #003078;
    margin: 15px 0px 10px;
}

.alert-wrap p {
    font-weight: bold;
}

.alert-wrap div:first-child {
    width: 10%;
    float: left;
    margin-right: 3%;
}

.alert-wrap span {
    font-weight: bold;
    font-size: 21px;
    padding: 0px 0px 0px 9px;
    height: 27px;
    box-sizing: border-box;
    width: 27px;
    border: 2px solid #003078;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.tile-wrap.alert-float {
	position:relative;
}

.tile-wrap.alert-float .alert-wrap {
	position:absolute;
	left:20px;
	bottom:20px;
	margin:0px;
}

.tile-wrap.alert-float:hover {
	background-color:#005a30;
	border-color:#073107;
	cursor:pointer;
}

.tile-wrap.bluebg:hover p,
.tile-wrap.alert-float.inverse-blue h3,
.tile-wrap.alert-float:hover h3,
.tile-wrap.alert-float:hover .alert-wrap,
.tile-wrap.alert-float:hover .alert-wrap span {
	color:#FFF;
}

.tile-wrap.alert-float:hover .alert-wrap span {
	border-color:#FFF;
}

.tile-transition:hover,
.tile-transition:hover h3,
.tile-transition:hover .alert-wrap,
.tile-transition:hover .alert-wrap span,
.tile-transition:hover .alert-wrap p {
	transition:all 0.4s ease-in-out;
}

.alert-wrap.colours span,
.alert-wrap.colours {
	border-color:#912b88;
	color:#912b88;
}

.alert-wrap.colours.pink span,
.alert-wrap.colours.pink {
	border-color:#d53880;
	color:#d53880;
}

.alert-wrap.colours.orange span,
.alert-wrap.colours.orange {
	border-color:#f47738;
	color:#f47738;
}

.tile-wrap.alert-float.bluebg:hover {
	background-color: #1d70b8;
}

.tile-wrap.alert-float.bluebg.blueblue {
	border-color: #1d70b8;
	color:#003078;
}

.tile-wrap.alert-float.inverse-blue {
	background-color: #1d70b8;
}

.tile-wrap.alert-float.inverse-blue .alert-wrap.width {
	background-color:#FFF;
}

.tile-wrap.alert-float.inverse-blue .alert-wrap.width,
.tile-wrap.alert-float.inverse-blue .alert-wrap.width span {
	border-color:#1d70b8;
	color:#1d70b8;
}

.tile-wrap.alert-float .alert-wrap.width {
    width: 100%;
    background-color: #1d70b8;
    padding: 11px 20px 13px;
    bottom: 0px;
    left: 0px;
    color: #FFF;
}

.tile-wrap.alert-float .alert-wrap.width span {
	border-color:#FFF;
	color:#FFF;
}

.alert-wrap span.small {
    font-weight: bold;
    font-size: 18px;
    padding: 1px 0px 0px 8px;
    height: 26px;
    box-sizing: border-box;
    width: 26px;
    border: 2px solid #003078;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}

.grid-row > a {
	text-decoration:none;
}
.grid-row > a h3 {
	color:#000;
}

/* - Subtext - */



.role-tag { position:relative; }

span.has-email-alerts {
    width: 300px;
    right: -308px;
    top: 6px;
    font-size: 14px;
    color: #2b68a7;
    position: absolute;
}

span.has-email-alerts span.text,
span.has-email-alerts span img,
span.has-email-alerts {
	display:inline-block;
}

span.has-email-alerts span.icon {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #2471c1;
    box-sizing: border-box;
    display: inline-block;
    padding: 4px 4px 0px;
    font-size: 10px;
    margin: 0px 7px 0px 0px;
	position:absolute;
	left:0px;
	top:0px;
}

span.has-email-alerts span img {
	width:100%;
}

span.has-email-alerts span.text {
	margin-top: 2px;
    padding-left: 29px;
    font-weight: bold;
    font-size: 15px;
}

/* - Full-hover tile variant - */

.tile-wrap.variant a {
	background-color:transparent;
	position:absolute;
}

.tile-wrap.variant * {
	z-index:1;
	text-decoration: none;
}

.tile-wrap.variant span {
	z-index: 0;
    position: absolute;
    width: 100%;
    background-color: #00703c;
    height: 47px;
    display: block;
    bottom: 0px;
    left: 0px;
}

.tile-wrap.variant:hover {
	cursor:pointer;
}

.tile-wrap.variant:hover span {
	height:100%;
}

.tile-wrap.variant:hover h3 {
	color:#FFF;
}

.tile-wrap.variant span,
.tile-wrap.variant h3 {
	transition:0.2s all ease-in-out;
}
.govuk-main-wrapper{
    padding-top:4px;
}
.heading-space{
    padding-top:40px;
}
.margin-left{
    padding-left:380px;
}
.space-left{
    padding-left:20px;
}
.text-space{
    padding-left:375px;
    padding-top:0px;
}

.padding-left{
    padding-left:130px;
}
.govuk-accordion__heading-number-right {
	margin: 0px;
	padding: 0px;
}
@media (min-width: 641px) {
	.govuk-accordion__heading-number-right {
		float: right;
		width: 33.33333%;
		text-align: right;
	}
}
@media (max-width: 641px) {
	.govuk-accordion__heading-number-right {
		display: none;
	}
}
.govuk-accordion__heading-text-left {
	float: left;
	width: 66.66667%;
	margin: 0px;
	padding: 0px;
}
.text-align-right
{
    float:right;
    padding-right:80px;
}
.text-spaces
{
 float:right;
 padding-right:123px;
}
.text-space
{
 float:right;
 padding-right:73px;
}
.amount
{
 padding-left:443px;
}
.value{
    padding-left:438px;
}
.value-align
{
 float:right;
 padding-right:95px;
}
.total-amount{
    padding-left:410px;
}
.total-value
{
    float:right;
 padding-right:68px;
}
.right-align
{
    float:right;
    padding-right:228px;
}
.text-align{
    
    padding-left:37.5rem;
}

.print{
    width:46px;
    height:46px;
    padding-top:10px;
    padding-left: 0px;
}
.variance-text {
	font-size: 80%;
	margin-top: 0px;
    vertical-align: middle;
}
h2 .variance-text {
	font-size: 80% !important;
    color:#d4351c;
}
td .variance-text {
	font-size: 80% !important;
    color:#d4351c;
}
.variance-heading-no-margin {
	margin-bottom: 0px;
    margin-top: -5px;
}
.app-c-back-to-top__icon {
    display: inline-block;
    width: .8em;
    height: 1em;
    margin-top: -5px;
    margin-right: 0px;
    vertical-align: middle;
}
.variance-hidden-text
{
    display:hidden;
    font-size:0px; 
  margin-top: -18px;
}
.decrease-by-variance
{
    color:#d4351c;
    text-decoration: none;
   
}
.save-print
{
    padding-top:30px;
    padding-left:0px;
    font-weight:bold;
}
.image-width
{
    width:8%;
    height:8%;
}
.float-right
{
    padding-left:390px;
}
.total-grant
{
    float:right;
    padding-right: 55px;
}
.align{
    text-align: right;
}