{% extends "layouts/main.html" %}

{% set pageName="IYO-statement" %}

{% block content %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">The Dorchester Academy (UKPRN: 12345678) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link govuk-!-padding-right-8" ><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
</div>
<!-- Pahse banner end -->
<!--  Page layout-->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/General-annual-grant/dashboard-First-IYO">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../allocation-statement-final-secondyear-opener.html">Allocation statements</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        General annual grant (GAG) 2024 to 2025
      </li>
    </ol>
  </div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
        <span class="govuk-caption-m govuk-!-padding-top-8">This allocation: <span class="govuk-!-font-weight-bold">Published 15 May 2024</span>. Date opened:<span class="govuk-!-font-weight-bold"> 1 May 2024</span> 
        <strong class="govuk-tag govuk-tag--blue">
          Latest
        </strong> </span>
        <h1 class="govuk-heading-l">General annual grant (GAG): AY 2024 to 2025 </h1>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-font-weight-regular">Total allocation<span> (based on being open 365 days)</span></h2>
        <h2 class="govuk-heading-l">£2,054,132.58</h2>
      </div>
      <div class="govuk-grid-column-full">
        <div class="govuk-tabs" data-module="govuk-tabs"style="width:100%;">
          <h2 class="govuk-tabs__title">
            Details
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#sb">
                School budget share
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#mfg">
                Minimum funding guarantee
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#sg">
                Start-up grant
              </a>
            </li>
          </ul>
          <div class="govuk-tabs__panel" id="sb">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-font-weight-regular">Total school budget share</h2>
            <h2 class="govuk-heading-l">£2,008,651.60</h2>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-font-weight-bold">Pupil-led factors</h2>

            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Basic entitlement</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header ">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;padding-left:250px;">Rate</th>
                  <th scope="col" class="govuk-table__header align">Weighting</th>
                  <th scope="col" class="govuk-table__header align">Pupils</th>
                  <th scope="col" class="govuk-table__header align">Full year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Primary</td>
                            <td class="govuk-table__cell align">£3,259.65</td>
                            <td class="govuk-table__cell align">1.000000</td>
                            <td class="govuk-table__cell align">470</td>
                  <td class="govuk-table__cell align">£1,532,035.14</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total basic entitlement</td>
                            <td class="govuk-table__cell align"></td>
                            <td class="govuk-table__cell align"></td>
                            <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell align">£1,532,035.14</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#basic-entitlement:~:text=1.%20Basic%20entitlement" class="govuk-link" rel="noreferrer noopener" target="_blank">More about basic entitlement (opens in new tab)</a>
            </p>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Deprivation</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header align">Rate</th>
                  <th scope="col" class="govuk-table__header align">Weighting</th>
                  <th scope="col" class="govuk-table__header align">Pupils</th>
                  <th scope="col" class="govuk-table__header align">Full year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Primary IDACI band A (most deprived)</td>
                  <td class="govuk-table__cell align">£446.36</td>
                  <td class="govuk-table__cell align">0.024752</td>
                  <td class="govuk-table__cell align"> 470</td>
                  <td class="govuk-table__cell align">£5,192.65</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Primary IDACI band C </td>
                            <td class="govuk-table__cell align">£161.33</td>
                            <td class="govuk-table__cell align">0.215347</td>
                            <td class="govuk-table__cell align">470</td>
                  <td class="govuk-table__cell align">£16,328.46</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"style="width:40%;">Primary IDACI band D </td>
                  <td class="govuk-table__cell align">£281.65</td>
                  <td class="govuk-table__cell align">0.032178</td>
                  <td class="govuk-table__cell align">470</td>
                  <td class="govuk-table__cell align">£4,259.60</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"style="width:40%;">Primary IDACI band E</td>
                            <td class="govuk-table__cell align">£684.74</td>
                            <td class="govuk-table__cell align">0.081683</td>
                            <td class="govuk-table__cell align">470</td>
                  <td class="govuk-table__cell align">£26,287.80</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"style="width:40%;">Primary IDACI band F (least deprived)  </td>
                  <td class="govuk-table__cell align">£53.05</td>
                  <td class="govuk-table__cell align">0.116337</td>
                  <td class="govuk-table__cell align">470</td>
                  <td class="govuk-table__cell align">£2,900.58</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"style="width:40%;">Primary free school meals</td>
                  <td class="govuk-table__cell align">£313.19</td>
                  <td class="govuk-table__cell align">0.430693</td>
                  <td class="govuk-table__cell align">470</td>
                  <td class="govuk-table__cell align">£63,397.02</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"style="width:40%;">Primary pupils eligible for free school meals<br/> in past 6 years </td>
                  <td class="govuk-table__cell align">£387.17</td>
                  <td class="govuk-table__cell align">0.450495</td>
                  <td class="govuk-table__cell align">470</td>
                  <td class="govuk-table__cell align">£81,976.98</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"style="width:40%;">Total deprivation </td>
                            <td class="govuk-table__cell align"></td>
                            <td class="govuk-table__cell align"></td>
                            <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align"> £224,196.84</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#deprivation:~:text=6.00-,2.%20Deprivation,-This%20is%20a" class="govuk-link" rel="noreferrer noopener" target="_blank">More about deprivation (opens in new tab)</a>
            </p>
            <!--<p class="govuk-body">
              <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">More about free school meals  (opens in new tab)</a>
            </p>-->
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Low prior attainment</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header align">Rate</th>
                  <th scope="col" class="govuk-table__header align">Weighting</th>
                  <th scope="col" class="govuk-table__header align">Pupils</th>
                  <th scope="col" class="govuk-table__header align">Full year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"style="width:40%;">Primary schools not achieving <br/>the expected level of development</td>
                  <td class="govuk-table__cell align">£653.00</td>
                     <td class="govuk-table__cell align">0.377875</td>
                          <td class="govuk-table__cell align">470</td>
                  <td class="govuk-table__cell align">£115,974.32</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell "style="width:40%;">Total low prior attainment</td>
                            <td class="govuk-table__cell align"></td>
                            <td class="govuk-table__cell align"></td>   
                               <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align">£115,974.32</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#prior-attainment:~:text=40.00-,3.%20Prior%20Attainment,-This%20is%20a" class="govuk-link" rel="noreferrer noopener" target="_blank">More about low prior attainment (opens in new tab)</a>
            </p>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">English as an additional language (EAL)</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header ">Description</th>
                            <th scope="col" class="govuk-table__header" style="text-align: right;padding-left:120px;">Rate</th>
                            <th scope="col" class="govuk-table__header align">Weighting</th>
                            <th scope="col" class="govuk-table__header align">Pupils</th>
                  <th scope="col" class="govuk-table__header align">Full year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"style="width:40%;">Primary pupils in first 3 years of education within England</td>
                            <td class="govuk-table__cell align">£215.72</td>
                            <td class="govuk-table__cell align">0.125000</td> 
                                <td class="govuk-table__cell align">470</td>
                  <td class="govuk-table__cell align">£12,673.80</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"style="width:40%;">Total English as an additional language</td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align">£12,673.80</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#english-as-an-additional-language-eal:~:text=4.%20English%20as%20an%20additional%20language%20(EAL)" class="govuk-link" rel="noreferrer noopener" target="_blank">More about English as an additional language (opens in new tab)</a>
            </p>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Mobility</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Description</th>
                            <th scope="col" class="govuk-table__header" style="text-align: right;padding-left:120px;">Rate</th>
                            <th scope="col" class="govuk-table__header align">Weighting</th>
                            <th scope="col" class="govuk-table__header align">Pupils</th>        
                  <th scope="col" class="govuk-table__header align">Full year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"style="width:40%;">Primary pupils starting school on unusual entry dates (proportion above 6%)</td>
                            <td class="govuk-table__cell align">£62.10</td>
                            <td class="govuk-table__cell align">0.025714</td>
                            <td class="govuk-table__cell align">470</td>
                            <td class="govuk-table__cell align">£750.50</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total mobility</td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align">£750.50</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#mobility:~:text=100.00-,5.%20Mobility,-This%20is%20a" class="govuk-link" rel="noreferrer noopener" target="_blank">More about mobility (opens in new tab)</a>
            </p>
            <br>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarters">
                <h2 class="govuk-heading-s  govuk-!-padding-left-3">Total pupil-led factors for full year  
                  <span class="govuk-heading-s total-value govuk-!-padding-right-4">£1,885,630.60 </span>
                </h2>
              </div>
            </div>
            <h2 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-4 govuk-!-font-weight-bold">Other factors</h2>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-6 govuk-!-padding-bottom-2">Sparsity</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header align"></th>
                  <th scope="col" class="govuk-table__header align"></th>
                  <th scope="col" class="govuk-table__header align"></th>
                  <th scope="col" class="govuk-table__header"style="text-align: right;padding-left:130px;"></th>
                  <th scope="col" class="govuk-table__header align">Full year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Total sparsity</td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align">£0.00</td>
                </tr>
              </tbody>
            </table>   
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#sparsity" class="govuk-link" rel="noreferrer noopener" target="_blank">More about sparsity (opens in new tab)</a>
            </p>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Lump sum</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;padding-left:158px;">Rate</th>
                  <th scope="col" class="govuk-table__header align">Weighting</th>
                  <th scope="col" class="govuk-table__header align"></th>  
                  <th scope="col" class="govuk-table__header align">Full year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="width:30%;">Total primary lump sum</td>
                  <td class="govuk-table__cell align">£123,021.00</td>
                  <td class="govuk-table__cell align">1.000000</td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align">£123,021.00</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#lump-sum" class="govuk-link" rel="noreferrer noopener" target="_blank">More about lump sum (opens in new tab)</a>
            </p>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Split sites</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                   <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header"  style="text-align: right;padding-left:8px;">Rate</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;padding-left:15px;">Weighting</th>
                  <th scope="col" class="govuk-table__header align"></th>
                  <th scope="col" class="govuk-table__header align"></th>
                  <th scope="col" class="govuk-table__header align">Full year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total split sites</td>
                  <td class="govuk-table__cell"style="text-align: right;padding-left:8px;">£0.00</td>
                  <td class="govuk-table__cell" style="text-align: right;padding-left:15px;">1.000000</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align">£0.00</td>
                </tr>
              </tbody>
            </table>   
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#split-sites" class="govuk-link" rel="noreferrer noopener" target="_blank">More about split sites (opens in new tab)</a>
            </p>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Private finance initiative (PFI)</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header  govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;padding-left:8px;">Rate</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;padding-left:15px;">Weighting</th>
                  <th scope="col" class="govuk-table__header align"></th>
                  <th scope="col" class="govuk-table__header align"></th>
                  <th scope="col" class="govuk-table__header align">Full year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" style="width:35%;">Total PFI</td>
                  <td class="govuk-table__cell align">£0.00</td>
                  <td class="govuk-table__cell" style="text-align: right;padding-left:50px;">1.000000</td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align">£0.00</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#private-finance-initiative-pfi" class="govuk-link" rel="noreferrer noopener" target="_blank">More about PFI (opens in new tab)</a>
            </p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarters">
                <h2 class="govuk-heading-s govuk-!-padding-left-3">Total other factors for full year
                  <span class="govuk-heading-s total-value govuk-!-padding-right-4">£123,021.00 </span>
                </h2>
              </div>
            </div>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Minimum funding level</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header align"></th>
                  <th scope="col" class="govuk-table__header align">Full year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Minimum per pupil level (as set by the local authority)</td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align">£4,405.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Total adjustment to ensure the academy meets the minimum funding level rate set by the LA</td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align">£0.00</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#minimum-per-pupil-level-mppl" class="govuk-link" rel="noreferrer noopener" target="_blank">More about minimum per pupil level (opens in new tab)</a>
            </p>

            <br>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarters">
                <h2 class="govuk-heading-s govuk-!-padding-left-3">Total full year funding adjustments
                  <span class="govuk-heading-s total-value govuk-!-padding-right-4">£0.00 </span>
                </h2>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarters">
                <h2 class="govuk-heading-l  govuk-!-padding-left-3 govuk-!-padding-top-3">Total school budget share
                  <span class="govuk-heading-l total-value govuk-!-padding-right-4">£2,008,651.60</span>
                </h2>
              </div>
            </div>
            <div class=" govuk-!-padding-top-4">                                
              <div class="govuk-inset-text">
              <p class="govuk-body">Your total school budget share for this academic year includes
                <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#basic-entitlement:~:text=Funding%20previously%20de%2Ddelegated" class="govuk-link" rel="noreferrer noopener" target="_blank">funding previously de-delegated (opens in new tab)</a>
                to the local authority for providing central services. You’ve received £8,624.90.</p>
             <p class="govuk-body govuk-!-padding-top-1">After your school becomes an academy, you can continue to secure these services from the LA, or use an independent provider.</p>
            </div>
          </div>
            <p class="govuk-body govuk-!-padding-top-4">£115,974.32 from your total school budget share is the
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#deprivation:~:text=Percentage%20included%20in%20notional%20SEN" class="govuk-link" rel="noreferrer noopener" target="_blank"> notional special educational needs budget (opens in new tab)</a>.
            </p>
          </div>
          <!--Minimum funding guarantee-->
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="mfg">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-font-weight-regular">Total minimum funding guarantee</h2>
            <h2 class="govuk-heading-l">£26,730.98</h2>
            <div class="govuk-inset-text">The
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#minimum-funding-guarantee-mfg:~:text=MFG%C2%A0section.-,Minimum%20funding%20guarantee%20(MFG),-This%20section%20is" class="govuk-link" rel="noreferrer noopener" target="_blank"> minimum funding guarantee (opens in new tab)</a> 
              for newly opened mainstream academies is calculated by the local authority (LA). It ensures the change in per pupil school budget share between the previous academic year and current academic year will not fall below the LA’s guaranteed change. Your LA has set this at 0.5%.
            </div>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Minimum funding guarantee for days open (not adjusted for pupils)</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header align">Calculation</th>
                  <th scope="col" class="govuk-table__header align">Sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Minimum funding guarantee for full year</td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align">£26,730.98</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Days in full year</td>
                  <td class="govuk-table__cell align">÷</td>
                  <td class="govuk-table__cell align">365</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Days open</td>
                  <td class="govuk-table__cell align">x</td>
                  <td class="govuk-table__cell align">365</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Minimum funding guarantee for days open (not adjusted for pupils)</td>
                  <td class="govuk-table__cell align">=</td>
                  <td class="govuk-table__cell align">£26,730.98</td>
                </tr>
              </tbody>
            </table>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Pupil adjustment</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header align">Calculation</th>
                  <th scope="col" class="govuk-table__header align">Sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Pupil numbers actually funded</td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align">470</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Pupil numbers used in original minimum funding guarantee calculation</td>
                  <td class="govuk-table__cell align">÷</td>
                  <td class="govuk-table__cell align">470</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Pupil adjustment</td> 
                  <td class="govuk-table__cell align">=</td>
                  <td class="govuk-table__cell align">1</td>
                </tr>
              </tbody>
            </table>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Minimum funding guarantee for days open (adjusted for pupils)</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header align align">Calculation</th>
                  <th scope="col" class="govuk-table__header align align">Sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Minimum funding guarantee for days open (not adjusted for pupils)</td>
                  <td class="govuk-table__cell align"></td>
                  <td class="govuk-table__cell align">£26,730.98</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Pupil adjustment</td>
                  <td class="govuk-table__cell align">x</td>
                  <td class="govuk-table__cell align">1</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Minimum funding guarantee for days open (adjusted for pupils)</td> 
                  <td class="govuk-table__cell align">=</td>
                  <td class="govuk-table__cell align">£26,730.98</td>
                </tr>
              </tbody>
            </table>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarters">
                <h2 class="govuk-heading-l govuk-!-padding-left-3 govuk-!-padding-top-3 ">Total minimum funding guarantee
                  <span class="govuk-heading-l govuk-!-padding-right-3"style="float: right;" >£26,730.98</span>
                </h2>
              </div>
            </div>
          </div>
          <!--Start-up grant-->
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="sg">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-font-weight-regular">Total start-up grant for new academy</h2>
            <h2 class="govuk-heading-l">£18,750.00</h2>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Start-up grant</caption>
              
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Description</th>
                  <th scope="col" class="govuk-table__header"></th>
                  <th scope="col" class="govuk-table__header align">Sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Flat rate - paid first year of opening</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell align align">£0.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Growth towards full capacity - paid over 2 years to primary schools</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell align">£18,750.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total start-up grant</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell align">£18,750.00</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year#post-opening-grant-start-up-grant:~:text=days%20/%20365%20days-,Post%2Dopening%20grant%20(start%2Dup%20grant),-This%20will%20show" class="govuk-link" rel="noreferrer noopener" target="_blank">More about start-up grant (opens in new tab)</a>
            </p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarters">
                <h2 class="govuk-heading-l  govuk-!-padding-left-3 govuk-!-padding-top-3">Total start-up grant for new academy
                  <span class="govuk-heading-l govuk-!-padding-right-3"Style="float:right;">£18,750.00 </span>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--print-->
    <div class="govuk-grid-row govuk-!-padding-top-0"> 
      <div class="govuk-grid-column-one-quarter image-width">
        <img class="print" src="/public/images/print.png" alt="print icon">
      </div>
      <div class="govuk-grid-column-three-quarters save-print">
      <a href="#" class="govuk-link">Save or print this statement</a>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-2"> 
      <div class="govuk-grid-column-one-quarter image-width">
        <img class="print govuk-!-padding-top-0" src="/public/images/document.png" alt="download icon">
      </div>
      <a href="#" class="save-print govuk-link govuk-!-padding-top-2">Download the raw data for this statement (CSV, 208KB)</a>
      <p class="govuk-body" style="font-size: 16px;">You may need a different format if you’re using assistive technology.<a href="#"> Request an accessible format.</a></p>
   </div>
    <div class="govuk-grid-row govuk-!-padding-left-5 govuk-!-padding-top-5"> 
      <h2 class="govuk-heading-m">Allocation history</h2>
      <p class="govuk-body">
        <a href="../allocation-history-secondyear.html" class="govuk-link">View history of allocated funding</a>
      </p>
      <h2 class="govuk-heading-m">Explore the topic</h2>
      <p class="govuk-body">
        <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2024-to-2025/academy-general-annual-grant-allocation-guide-2024-to-2025-academic-year" class="govuk-link" target="_blank">General annual grant allocation guide: 2024 to 2025 (opens in new tab)</a>
      </p>
    </div>
  </div>
  </div>
</div>
</main>
<!-- End-->
{% endblock %}