{% extends "layouts/main.html" %}

{% set pageName="Contract query submitted" %}

{% block beforeContent %}
<!-- Phase banner -->
  <div class="govuk-phase-banner">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-phase-banner__content">
              <span class="govuk-phase-banner__text">Viewing as Trn (Train) Ltd. (UKPRN: 10000082) </span>
            </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p class="govuk-phase-banner__content">
              <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
              <span class="govuk-link"><a href="#" >Sign out</a></span>
            </p>
          </div>
      </div>
  </div>

  {% endblock %}

  {% block content %}
  <header>
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "p1kzsetroa");
  </script>
  </header>
  <main class="govuk-main-wrapper govuk-main-wrapper--l govuk-!-padding-top-8" id="main-content" >
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Contract query submitted
          </h1>
          <div class="govuk-panel__body">
            Higher technical education provider growth fund <br>AY 2024 to 2025. Version 1
            <br><span class="govuk-!-font-size-19">Signed by [Firstname] [Lastname] on 13 November 2024 at 3:00pm</span>
          </div>
        </div>
        <p class="govuk-body govuk-!-padding-top-2">Your contract query has been submitted to the service desk.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          You’ll receive a confirmation email shortly with your reference number. </p>
          <p class="govuk-body">
            We’ll respond as soon as possible, but allow 5 working days. </p>
        <p class="govuk-body">Go back to
          <a href="../contracts-agreements/list-view.html" class="govuk-link">Contracts and agreements</a>.
        </p>     
      </div>
    </div>
  </main>
</div>
{% endblock %}

