{% extends "layouts/main.html" %}

{% set pageName="Download contract data" %}

{% block beforeContent %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">Viewing as Trn (Train) Ltd. (UKPRN: 10000082) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
 </div>
<!-- Pahse banner end -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="list-view.html">Contracts and agreements</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">Download contract data
      </li>
    </ol>
  </div>
  {% endblock %}
  {% block content %}
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
              <h1 class="govuk-heading-l  govuk-!-padding-bottom-6 govuk-!-padding-top-6 ">Download contract data</h1>
          </div>
          <div class="govuk-grid-column-full govuk-!-padding-bottom-6">
            <p class="govuk-!-font-size-24">Approved contract data to support your organisation’s reporting requirements. </p>
            <p class="govuk-body">The data file includes the funding values shown in the annexures of your contract documents.</p>
          </div>
          <!-- 
            <div class="govuk-grid-column-one-quarter govuk-!-padding-left-6">
              <img class="pdf" src="/public/images/csv.png" alt="pdf">
            </div>
            <div class="govuk-grid-column-two-thirds save-print">
            <a href="#" class="govuk-link">Download approved contract data (CSV, 2KB)</a>
            <p class="govuk-body govuk-!-padding-top-1">You may need a different format if you’re using assistive technology<br/>
              <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Request an accessible format.</a>
            </p>
            </div>
          </div> -->
          <div class="govuk-grid-row govuk-!-padding-left-3"> 
          <section class="attachment">
            <div class="attachment-thumb">
              <a class="thumbnail pdf-open-link" target="_blank" href="#">
                  <img title="This PDF will open in a new window" class="pdf" alt="Contract document" src="/public/images/csv.png">
              </a>
            </div>
            <div class="govuk-grid-column-one-thirds">
                    <a class="govuk-link govuk-!-font-weight-bold" href="#" id="downloadContractLink" rel="external" target="_blank" title="This PDF will open in a new window">Download approved contract data (CSV, 2KB)</a>
                    <p class="govuk-body govuk-!-padding-top-1">You may need a different format if you’re using assistive technology<br/>
                      <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">Request an accessible format.</a>
                    </p>
                  </div>
        </section>
        </div>
          <div class="govuk-grid-column-two-thirds  govuk-!-padding-top-6">
            <div class="govuk-inset-text">
              <p class="govuk-body"> Funding values are only available for:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>contracts signed through this service</li>
                <li>contracts not requiring signature because they have been updated by <br/>the Department for Education.</li>
              </ul>
            </div>
             <h2 class="govuk-heading-s">Ask for help</h2>
            <p class="govuk-body">
                  <a href="raise-a-query.html" class="govuk-link">Submit a contract query</a>
             </p>
             </div>
        </div>  
    </main>
{% endblock %}

