{% extends "layouts/main.html" %}

{% set pageName="Allocation-statement" %}

{% block content %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">Viewing as Trn (Train) Ltd. (UKPRN: 10000082) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
 </div>
<!-- Pahse banner end -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
      Contracts and agreements
      </li>
    </ol>
  </div>

  <h1 class="govuk-heading-xl govuk-!-padding-top-6">Contracts and agreements</h1>

    <main class="govuk-main-wrapper">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                             <div class="govuk-accordion__section queryFilterType05">
                                <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <a class="govuk-accordion__heading-text-left govuk-accordion__section-button " id="accordion-default-heading-5">
                                        Higher technical education provider growth fund contract, AY 2024 to 2025   
                                    <span class="govuk-caption-m govuk-!-padding-top-2">Contract issued: 26 October 2024. Version 2            
                                     <strong class="govuk-tag govuk-tag--blue"> Ready to sign</strong>
                                        <span class="govuk-caption-m govuk-main-wrapper govuk-!-padding-bottom-4">Contract reference: HTE-2425-2
                                    </span> 
                                    </a>
                                </h2>
                                </div>
                                <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                                    <h2 class="govuk-heading-s">Awaiting action</h2>
                                    <p class="govuk-body">
                                        <a href="review-sign.html" class="govuk-link">
                                           Review and sign </a>
                                    </p>
                                    <h2 class="govuk-heading-s">Contract history</h2>
                                    <p class="govuk-body">
                                        <a href="#" class="govuk-link">View previous version of this contract</a>
                                    </p>
                                    <h2 class="govuk-heading-s">Explore the topic</h2>
                                    <p class="govuk-body">
                                        <a href="#" target=”_blank” class="govuk-link"> Higher technical education provider guides: 2024 to 2025 (opens in new tab)</a>
                                    </p>
                                </div> 
                            </div>
                            <div class="govuk-accordion__section queryFilterType05">
                              <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                  <a class="govuk-accordion__heading-text-left govuk-accordion__section-button " id="accordion-default-heading-5">
                                    ESF SSU contract variation for Greater Manchester LEP   
                                  <span class="govuk-caption-m govuk-!-padding-top-2">Contract amended: 3 November 2024. Version 9                 
                                   <strong class="govuk-tag govuk-tag--blue">Ready for review</strong>
                                      <span class="govuk-caption-m govuk-main-wrapper govuk-!-padding-bottom-4">Contract reference: ESF-2052
                                  </span> 
                                  </a>
                              </h2>
                              </div>
                              <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                                  <h2 class="govuk-heading-s">xxxx</h2>
                                  <p class="govuk-body">
                                      <a href="review-sign.html" class="govuk-link">
                                        Ready for review </a>
                                  </p>
                                  
                              </div> 
                          </div>
                          <div class="govuk-accordion__section queryFilterType05">
                            <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <a class="govuk-accordion__heading-text-left govuk-accordion__section-button " id="accordion-default-heading-5">
                                  ESFA apprenticeship agreement, October 2024   
                                <span class="govuk-caption-m govuk-!-padding-top-2">Version 8                
                                 <strong class="govuk-tag govuk-tag--green">Signed</strong>
                                    <span class="govuk-caption-m govuk-main-wrapper govuk-!-padding-bottom-4">Agreement to provide employer levy funded apprenticeship training.
                                </span> 
                                </a>
                            </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                              <h2 class="govuk-heading-s">xxxx</h2>
                              <p class="govuk-body">
                                  <a href="review-sign.html" class="govuk-link">
                                    Ready for review </a>
                              </p>
                              
                          </div> 
                            </div>
                            <div class="govuk-accordion__section queryFilterType05">
                              <div class="govuk-accordion__section-header">
                              <h2 class="govuk-accordion__section-heading">
                                  <a class="govuk-accordion__heading-text-left govuk-accordion__section-button " id="accordion-default-heading-5">
                                    National careers service (NCS), AY 2024 to 2025, contract variation   
                                  <span class="govuk-caption-m govuk-!-padding-top-2">Variation issued: 22 October 2024. Version 9              
                                    <strong class="govuk-tag govuk-tag--grey">
                                      Replaced
                                    </strong>
                                      <span class="govuk-caption-m govuk-main-wrapper govuk-!-padding-bottom-4">Agreement to provide employer levy funded apprenticeship training.
                                  </span> 
                                  </a>
                              </h2>
                              </div>
                              <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                                <h2 class="govuk-heading-s">xxxx</h2>
                                <p class="govuk-body">
                                    <a href="review-sign.html" class="govuk-link">
                                      Ready for review </a>
                                </p>
                                
                            </div> 
                          </div>    
                          <div class="govuk-accordion__section queryFilterType05">
                            <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <a class="govuk-accordion__heading-text-left govuk-accordion__section-button " id="accordion-default-heading-5">
                                  Additional capital allocations contract variation   
                                <span class="govuk-caption-m govuk-!-padding-top-2">Contract issued: 1 September 2024. Version 5  <strong class="govuk-tag govuk-tag--orange">
                                  Withdrawn
                                </strong>
                                  <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-4">Contract withdrawn on 31 October 2024 at the request of a member of your organisation.
                                  </span> </p>
                                  <p class="govuk-body">
                                    This contract can no longer be signed.</p>              
                                </span> 
                                </a>
                            </h2>
                            </div>
                            <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                              <h2 class="govuk-heading-s">xxxx</h2>
                              <p class="govuk-body">
                                  <a href="review-sign.html" class="govuk-link">
                                    Ready for review </a>
                              </p>
                              
                          </div> 
                        </div>    
                     <!--Pagination-->
                    <div class="govuk-pagination__next">
                        <span class="govuk-pagination__link-title" id="pagination-info">
                            Showing 1 to 1 of 1 contracts and agreements
                        </span>
                    </div>
                    <div class="app-back-to-top app-back-to-top--fixed  button-align" data-module="app-back-to-top">
                        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                          <svg role="presentation" focusable="false" class="app-back-to-top__icon govuk-!-padding-top-8" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                          </svg>Back to top
                        </a>
                      </div>
                <!---->
        </div>
    </main>
{% endblock %}

