{% extends "layouts/main.html" %}

{% set pageName="Contracts and agreements" %}

{% block beforeContent %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text"> Viewing as Shaftesbury Technical College  (UKPRN: 10002345) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
 </div>
<!-- Pahse banner end -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
      Contracts and agreements
      </li>
    </ol>
  </div>
  {% endblock %}
  
  {% block content %}
  <header>
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "p1kzsetroa");
  </script>
  </header>
  <h1 class="govuk-heading-l govuk-!-padding-top-6">Contracts and agreements</h1>
</br></br>
    <main class="govuk-main-wrapper">
         <div class="govuk-grid-row">
               <div class="govuk-grid-column-full">
                <ul class="govuk-task-list">
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint govuk-grid-column-two-thirds">
                            <a class="govuk-link govuk-task-list__link" href="./contract-ready-sign/review-contract.html" aria-describedby="contract-details-2-status">Education and skills funding (EDSK) contract variation for 2024 to 2025                                                                                             
                            </a>
                            <p class="govuk-task-list__hint"> Contract reference: EDSK-6459. Version 4 <br/>               
                              <span class="govuk-body">Advanced learner loans, ESFA adult skills fund</span></p>
                          <p class="govuk-body">
                          Your revised funding allocations will be processed as soon as you sign.</p>
                          </p></div>
                    <div class="govuk-task-list__status govuk-grid-column-one-third" id="contract-details-2-status">
                      <strong class="govuk-tag govuk-tag--blue">
                        Ready to sign
                      </strong>
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint govuk-grid-column-two-thirds">
                            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="contract-details-2-status">ESFA apprenticeship agreement                                             
                            </a>
                            <p class="govuk-task-list__hint">Contract reference: APPLEVY-5137. Version 8           
                              <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-2">Signed by [authorised representative] on 31 October 2024 at 7:12am
                          </span> </p>
                          <p class="govuk-body">You received an ‘insufficient progress’ assessment from Ofsted, and need to take immediate action. </p>

                    </div>
                    <div class="govuk-task-list__status govuk-grid-column-one-third" id="contract-details-2-status">
                      <strong class="govuk-tag govuk-tag--grey govuk-!-padding-left-2">
                        Modified
                      </strong>
                    </div>
                   
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint govuk-grid-column-two-thirds">
                            <a class="govuk-link govuk-task-list__link" href="./ready-for-review/amended-contract.html" aria-describedby="contract-details-2-status">Education and skills funding (EDSK) contract variation for 2023 to 2024                                                                                             
                            </a>
                            <p class="govuk-task-list__hint"> Contract reference: EDSK-5636. Version 8      <br/>          
                              <span class="govuk-body">16 to 19 education, Advanced learner loans, Carry-in apprenticeships funding,<br/> ESFA funded adult education budget</span></p>
                              <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-2">Amended by the ESFA on 22 November 2024 
                          </span> 
                          <p class="govuk-body">You should review the amendment(s) as your funding allocation may have changed. This contract variation does not need to be signed.</p>
                    </div>
                    <div class="govuk-task-list__status govuk-grid-column-one-third" id="contract-details-2-status">
                      <strong class="govuk-tag govuk-tag--blue">
                        Ready to review
                      </strong>
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint govuk-grid-column-two-thirds">
                            <a class="govuk-link govuk-task-list__link" href="./ready-for-review/amended-contract.html" aria-describedby="contract-details-2-status">ESFA adult skills fund (procured from August 2023) contract variation for 2024 to 2025                                      
                            </a>
                            <p class="govuk-task-list__hint"> Contract reference: ASFP23-1103. Version 2               
                              <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-2">Signed by [authorised representative] on 18 September 2024 at 2:40pm
                          </span> </p>
                    </div>
                    <div class="govuk-task-list__status govuk-grid-column-one-third" id="contract-details-2-status">
                      <strong class="govuk-tag govuk-tag--grey govuk-!-padding-left-2">
                        Signed
                      </strong>
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint govuk-grid-column-two-thirds">
                            <a class="govuk-link govuk-task-list__link" href="./ready-for-review/amended-contract.html" aria-describedby="contract-details-2-status">Skills bootcamps contract variation                                                                            
                            </a>
                            <p class="govuk-task-list__hint"> Contract reference: Wave 3 Lot 5 - Construction. Version 3              
                              <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-2">Contract replaced on 17 July 2024 with a later version
                          </span> </p>
                          <p class="govuk-body">This variation is necessary to ensure payments can continue to be made from 1 April 2024. It does not mean new delivery can be claimed from this date.</p>
                    </div>
                    <div class="govuk-task-list__status govuk-grid-column-one-third" id="contract-details-2-status">
                      <strong class="govuk-tag govuk-tag--grey govuk-!-padding-left-2">
                        Under termination
                      </strong>
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint govuk-grid-column-two-thirds">
                            <a class="govuk-link govuk-task-list__link" href="./ready-for-review/amended-contract.html" aria-describedby="contract-details-2-status">Skills bootcamps contract variation                                                                            
                            </a>
                            <p class="govuk-task-list__hint"> Contract reference: Wave 3 Lot 7 - Construction. Version 4              
                              <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-2">Contract replaced on 19 August 2024 with a later version
                          </span> </p>
                          <p class="govuk-body"> We have received your notice to terminate this contract. It will be terminated on 2 February 2025.</p>
                    </div>
                    <div class="govuk-task-list__status govuk-grid-column-one-third" id="contract-details-2-status">
                      <strong class="govuk-tag govuk-tag--grey govuk-!-padding-left-2">
                        Under termination
                      </strong>
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint govuk-grid-column-two-thirds">
                            <a class="govuk-link govuk-task-list__link" href="./ready-for-review/amended-contract.html" aria-describedby="contract-details-2-status">Skills bootcamps contract variation                                                                            
                            </a>
                            <p class="govuk-task-list__hint"> Contract reference: Round 1 - Competition 1 - Lot 1 - Digital Core. Version 3             
                              <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-2">Signed by [authorised representative] on 19 August 2024 at 2:52pm
                          </span> </p>
                    </div>
                    <div class="govuk-task-list__status govuk-grid-column-one-third" id="contract-details-2-status">
                    
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint govuk-grid-column-two-thirds">
                            <a class="govuk-link govuk-task-list__link" href="./ready-for-review/amended-contract.html" aria-describedby="contract-details-2-status">Skills bootcamps contract variation                                                                            
                            </a>
                            <p class="govuk-task-list__hint"> Contract reference: Round 1 - Competition 1 - Lot 2 - Digital Other. Version 4             
                              <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-2">Signed by [authorised representative] on 19 August 2024 at 2:53pm
                          </span> </p>
                    </div>
                    <div class="govuk-task-list__status govuk-grid-column-one-third" id="contract-details-2-status">
                    
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint govuk-grid-column-two-thirds">
                            <a class="govuk-link govuk-task-list__link" href="./ready-for-review/amended-contract.html" aria-describedby="contract-details-2-status">Skills bootcamps contract variation                                                                            
                            </a>
                            <p class="govuk-task-list__hint"> Contract reference: Round 1 - Competition 2 - Lot 2 - Digital Marketing. Version 3             
                              <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-2">Signed by [authorised representative] on 19 August 2024 at 2:52pm
                          </span> </p>
                    </div>
                    <div class="govuk-task-list__status govuk-grid-column-one-third" id="contract-details-2-status">
                    
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint govuk-grid-column-two-thirds">
                            <a class="govuk-link govuk-task-list__link" href="./ready-for-review/amended-contract.html" aria-describedby="contract-details-2-status">Skills bootcamps contract variation                                                                            
                            </a>
                            <p class="govuk-task-list__hint"> Contract reference: Wave 3 Lot 1 - Digital Core. Version 3            
                              <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-2">Amended on 7 June 2024
                           <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-2">Read by [authorised representative] on 7 June 2024 at 2:43pm
                          </span> </span></p>
                    </div>
                    <div class="govuk-task-list__status govuk-grid-column-one-third" id="contract-details-2-status">
                    
                    </div>
                  </li>
                    </ul>
               </div>         
                            
                     <!--Pagination-->
                    <div class="govuk-body govuk-!-padding-left-2">
                        <span id="pagination-info">
                            Showing 1 to 10 of 10 contracts and agreements
                        </span>
                    </div>
                    <div class="app-back-to-top app-back-to-top--fixed  button-align" data-module="app-back-to-top">
                        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                          <svg role="presentation" focusable="false" class="app-back-to-top__icon govuk-!-padding-top-6 govuk-!-padding-right-1" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                          </svg>Back to top
                        </a>
                      </div>
                <!---->
        </div>
        <div>
          <h2 class="govuk-heading-m govuk-!-padding-top-6">Download your approved contract data</h2>
         <p> <a href="download-contract-data.html">Download your approved contract data </a> in Comma Separated Values (CSV)</p>
        </div>
    </main>
{% endblock %}

