{% extends "layouts/main.html" %}

{% block content %}

<div class="govuk-width-container">
   <main class="govuk-main-wrapper heading-space">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <a class="govuk-accordion__heading-text-left govuk-accordion__section-button" id="accordion-default-heading-s">
                  Indicative general annual grant (GAG): academic year (AY) 2023 to 2024
                  <span class="govuk-accordion__heading-number-left" style="float: right;">£921,937.77</span>
                    </strong>
                    </span> 
                  </a>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                <h2 class="govuk-heading-s">Funding breakdown</h2>
                <p class="govuk-body">
                  <a href="#" class="govuk-link">School budget share</a>
                  <span class="govuk-accordion__heading-number-right">£841,982.73</span>
                </p>
                <p class="govuk-body">
                  <a href="#" onclick="saveScrollPosition()" class="govuk-link">Minimum funding guarantee</a>
                  <span class="govuk-accordion__heading-number-right">£11,205.04</span>
                </p>
                <p class="govuk-body">
                  <a href="#" class="govuk-link">Start-up grant</a>
                  <span class="govuk-accordion__heading-number-right">£68,750.00</span>
                </p>
              </div>         
          </div>
        </div>
      </div>
    </div>
   
  </main>
</div>
{% endblock %}