{% extends "layouts/main.html" %}

{% set pageName="Review your contract" %}

{% block beforeContent %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">Viewing as Trn (Train) Ltd. (UKPRN: 10000082) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
 </div>
<!-- Pahse banner end -->
  <div class="govuk-breadcrumbs govuk-!-padding-bottom-6">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../list-view.html">Contracts and agreements</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">Review your contract
      </li>
    </ol>
  </div>
  {% endblock %}
  {% block content %}

    <main class="govuk-main-wrapper " id ="main-content" role="main">
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h1 class="govuk-error-summary__title">
            There is a problem
          </h1>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#checkbox1">Tick the box to confirm you have read and understood the changes</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-caption-l"> ESF SSU contract variation for Greater Manchester LEP.<span class="govuk-!-font-weight-bold"> Version 9</span>
              <strong class="govuk-tag govuk-tag--blue govuk-!-padding-left-2">
                Ready for review
              </strong> </h1>
              <h1 class="govuk-heading-l  govuk-!-padding-bottom-6">Review your contract</h1>
          </div>
<!---->

          <section class="attachment">
              <div class="attachment-thumb">
                <a class="thumbnail pdf-open-link" target="_blank" href="#">
                    <img title="This PDF will open in a new window" class="pdf" alt="Contract document" src="/public/images/pdf.png">
                </a>
              </div>
              <div class="govuk-grid-column-one-thirds">
                      <a class="govuk-link govuk-!-font-weight-bold" href="#" id="downloadContractLink" rel="external" target="_blank">ESF SSU contract variation for Greater Manchester LEP. <br/> Version 9 (PDF, 1785KB) (opens in new tab)</a>
              </div>
          </section>
          <div class="govuk-grid-column-full govuk-!-padding-top-4">
            <p class="govuk-!-font-size-24">This contract was amended on 3 November 2024.</p>
            <p class="govuk-body">This contract was amended and agreed by the authorised signatory for the Department for Education, acting on behalf of the Secretary of State.</p>
          </div>
          <div class="govuk-grid-column-full">
                <div class="govuk-form-group govuk-form-group--error">
                  <fieldset class="govuk-fieldset" aria-describedby="countries-error">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                     
                    </legend>
                    <p id="countries-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> Tick the box to confirm you have read and understood the changes
                    </p>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="checkbox" name="countries" type="checkbox" value="check">
                        <label class="govuk-label govuk-checkboxes__label" for="checkbox">
                          I have read and understood the changes to this contract.
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>  
                <div class="govuk-inset-text">
                  The status for this contract will change to 'Reviewed' on the <a class="govuk-link" href="#">‘Contracts and agreements’ page</a>.
                </div>
            <a type="submit" class="govuk-button" href="reviewed-list-view.html" id="amended" data-module="govuk-button">
                Continue
            </a>

          <h2 class="govuk-heading-s  govuk-!-padding-top-4">Contract history</h2>
            <p class="govuk-body">
                  <a href="contract-history-page-v1.html" class="govuk-link">View all versions of this contract</a>
             </p>
             <h2 class="govuk-heading-s">Explore the topic</h2>
            <p class="govuk-body">
              <a href="#" target=”_blank” class="govuk-link"> Higher technical education provider guides: 2024 to 2025 (opens in new tab)</a>
            </p>
              <p class="govuk-body">
              <a href="#" target=”_blank” class="govuk-link">Working with the Department for Education as a provider (opens in new tab)</a>

            </p>
             <h2 class="govuk-heading-s">Ask for help</h2>
            <p class="govuk-body">
                  <a href="#" class="govuk-link">Submit a contract query</a>
             </p>
             </div>
        </div>  
    </main>
{% endblock %}
