{% extends "layouts/main.html" %}

{% set pageName="Contracts and agreements" %}

{% block beforeContent %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">Viewing as Trn (Train) Ltd. (UKPRN: 10000082) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
 </div>
<!-- Pahse banner end -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
      Contracts and agreements
      </li>
    </ol>
  </div>
  {% endblock %}
  
  {% block content %}

  <h1 class="govuk-heading-xl govuk-!-padding-top-6">Contracts and agreements</h1>

    <main class="govuk-main-wrapper">
         <div class="govuk-grid-row">
               <div class="govuk-grid-column-full">
                <ul class="govuk-task-list">
                 
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="../contract-ready-sign/review-contract.html" aria-describedby="contract-details-1-status">Higher technical education provider growth fund contract, AY 2024 to 2025   
                      </a>
                      <p class="govuk-task-list__hint">Contract issued: 26 October 2024. Version 1                 
                        <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-4">Contract reference: HTE-2425-2
                    </span> </p>
                    </div>
                    <div class="govuk-task-list__status govuk-!-padding-right-5" id="contract-details-1-status">
                      <strong class="govuk-tag govuk-tag--blue">
                        Ready to sign
                      </strong>
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="contract-details-3-status">ESFA apprenticeship agreement, October 2024                                                                                    
                      </a>
                      <p class="govuk-task-list__hint">Version 8    </p>           
                    </span> 
                    <p class="govuk-body govuk-!-padding-top-2">Agreement issued 19th October 2024 to provide employer levy <br/> funded apprenticeship training. </p>
                    <p class="govuk-body  govuk-!-padding-top-2">This agreement only includes the ESFA terms and conditions.</p>
                    </div>
                    <div class="govuk-task-list__status govuk-!-padding-right-5" id="contract-details-1-status">
                      <strong class="govuk-tag govuk-tag--blue">
                        Ready to sign
                      </strong>
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="amended-contract.html" aria-describedby="contract-details-2-status">ESF SSU contract variation for Greater Manchester LEP                                       
                      </a>
                      <p class="govuk-task-list__hint"> Contract amended: 3 November 2024. Version 9                
                        <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-2">Contract reference: ESF-2052
                    </span> </p>
                    <p class="govuk-body">Read by [First name] [Last name] (email) on 17th November 2024 at 4:15pm.</p>
                    </div>
                    <div class="govuk-task-list__status  govuk-!-padding-right-8" id="contract-details-2-status">
                      <strong class="govuk-tag govuk-tag--purple">
                        Reviewed
                      </strong>
                    </div>
                  </li>
                  <li class="govuk-task-list__item govuk-task-list__item--with-link">
                    <div class="govuk-task-list__name-and-hint">
                      <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="contract-details-5-status">Additional capital allocations contract variation                                                                             
                      </a>
                      <p class="govuk-task-list__hint">Contract issued: 1 September 2024. Version 5                
                        <span class="govuk-body-m govuk-main-wrapper govuk-!-padding-bottom-4">Contract withdrawn on 31 October 2024 at the request of a member of your organisation.
                    </span> </p>
                    <p class="govuk-body">
                      This contract can no longer be signed.</p>
                    </div>
                    <div class="govuk-task-list__status govuk-!-padding-right-7" id="contract-details-5-status">
                      <strong class="govuk-tag govuk-tag--orange ">
                        Withdrawn
                      </strong>
                    </div>
                  </li>
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                      <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="contract-details-4-status">National careers service (NCS), AY 2024 to 2025, contract variation                                                                             
                            </a>
                            <p class="govuk-task-list__hint">Variation issued: 22 October 2024. Version 9                
                              <span class="govuk-body-m govuk-main-wrapper">Contract reference: NCS-2425
                          </span> </p>
                      </div>
                      <div class="govuk-task-list__status" style="padding-right:65px;" id="contract-details-4-status">
                        <strong class="govuk-tag govuk-tag--green">
                          Signed
                         </strong>
                      </div>
                    </li>
                    </ul>
               </div>         
                            
                     <!--Pagination-->
                     <div class="govuk-body govuk-!-padding-left-2">
                      <span id="pagination-info">
                          Showing 1 to [x] of [x] contracts and agreements
                      </span>
                  </div>
                    <div class="app-back-to-top app-back-to-top--fixed  button-align" data-module="app-back-to-top">
                        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                          <svg role="presentation" focusable="false" class="app-back-to-top__icon govuk-!-padding-top-6 govuk-!-padding-right-1" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                          </svg>Back to top
                        </a>
                      </div>
                <!---->
        </div>
        <div>
          <h2 class="govuk-heading-m govuk-!-padding-top-6">Download your approved contract data</h2>
         <p> <a href="download-contract-data.html">Download your approved contract data </a> in Comma Separated Values (CSV)</p>
        </div>
    </main>
{% endblock %}

