{% extends "layouts/main.html" %}

{% set pageName="View your contract" %}

{% block beforeContent %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">Viewing as Shaftesbury Technical College  (UKPRN: 10002345) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
 </div>
<!-- Pahse banner end -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../../dashboard1.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../../list-view-signed.html">Currently funded contracts and agreements</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">View your contract
      </li>
    </ol>
  </div>

  {% endblock %}

{% block content %}
<header>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "p1kzsetroa");
</script>
</header>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-caption-l">Skills bootcamp contract variation. Wave 3 Lot 5 - Construction. <span class="govuk-!-font-weight-bold">  Version 4</span>
              <strong class="govuk-tag govuk-tag--grey govuk-!-padding-left-2">
                Termination due
              </strong> </h1>
              <h1 class="govuk-heading-l">View your contract</h1>
          </div>
          
          <section class="attachment">
            <div class="attachment-thumb">
              <a class="thumbnail pdf-open-link" target="_blank" href="#">
                  <img title="This PDF will open in a new window" class="pdf" alt="Contract document" src="/public/images/pdf.png">
              </a>
            </div>
            <div class="govuk-grid-column-one-thirds">
                    <a class="govuk-link govuk-!-font-weight-bold" href="#" id="downloadContractLink" rel="external" target="_blank">Skills bootcamp contract variation. Wave 3 Lot 5 - Construction.<br/> Version 4 (PDF, 1718KB) (opens in new tab)</a>
            </div>
        </section>
        <div class="govuk-grid-column-full ">
          <div class="govuk-inset-text">
           <p class="govuk-body">You gave notice to terminate this contract. The ESFA has sent a letter with details of the action you need to take.
          </p>
        </div>
        <p class="govuk-body">This contract has been agreed by the authorised signatory for the Education and Skills Funding Agency, acting on behalf of the Secretary of State.</p>

        </div> 
          <div class="govuk-grid-column-full">
         
          <h2 class="govuk-heading-m  govuk-!-padding-top-3">Contract history</h2>
            <p class="govuk-body">
                  <a href="#" class="govuk-link">View all versions of this contract</a>
             </p>
             
             </div>
        </div>  
    </main>
{% endblock %}

