{% extends "layouts/main.html" %}

{% set pageName="View your signed contract" %}

{% block beforeContent %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">Viewing as Shaftesbury Technical College  (UKPRN: 10002345) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
 </div>
<!-- Pahse banner end -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../dashboard2.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../list-view-all.html">Currently funded contracts and agreements</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">View your signed contract
      </li>
    </ol>
  </div>

  {% endblock %}

{% block content %}
<header>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "p1kzsetroa");
</script>
</header>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-caption-l">Education and skills funding (EDSK) contract variation for 2024 to 2025.<span class="govuk-!-font-weight-bold"> Version 4</span>
              <strong class="govuk-tag govuk-tag--grey govuk-!-padding-left-2">
                Latest
              </strong> </h1>
              <h1 class="govuk-heading-l  govuk-!-padding-bottom-4">View your signed contract</h1>
          </div>
          <div class="govuk-grid-column-full">
              <section class="attachment">
                <div class="attachment-thumb">
                  <a class="thumbnail pdf-open-link" target="_blank" href="#">
                      <img title="This PDF will open in a new window" class="pdf" alt="Contract document" src="/public/images/pdf.png">
                  </a>
                </div>
                <div class="govuk-grid-column-one-thirds">
                        <a class="govuk-link govuk-!-font-weight-bold" href="#" id="downloadContractLink" rel="external" target="_blank">Education and skills funding (EDSK) contract variation for 2024 to 2025.<br/> Version 4 (PDF, 1718KB) (opens in new tab)</a>
                </div>
            </section>
          </div>  
          <div class="govuk-grid-column-full govuk-!-padding-top-6">
            <p class="govuk-body">This contract has been signed by the authorised signatory for the Education and Skills Funding Agency, acting on behalf of the Secretary of State, and has been digitally signed by all parties.</p>
            <p class="govuk-body">This contract was signed by [authorised representative] on  [Date] at [Time]  as the provider’s authorised signatory.</p>
          </div>
          <div class="govuk-grid-column-full">
         
          <h2 class="govuk-heading-m  govuk-!-padding-top-4">Contract history</h2>
            <p class="govuk-body">
                  <a href="../contract-history/contract-history-page2.html" class="govuk-link">View all versions of this contract</a>
             </p>
             </div>
        </div>  
    </main>
{% endblock %}

