{% extends "layouts/main.html" %}
 
{% set pageName="Dashboard" %}
 
{% block content %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-phase-banner__content">
            <span class="govuk-phase-banner__text">Viewing as Trn (Train) Ltd. (UKPRN: 10000082) </span>
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-phase-banner__content">
            <span class="govuk-link govuk-!-padding-right-6"><a href="view-your-roles">View your sub-services</a></span>
            <span class="govuk-link"><a href="#" >Sign out</a></span>
          </p>
        </div>
    </div>
   </div>
<!-- Pahse banner end -->
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">Home</li>
        </ol>
    </div>
  <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-l govuk-!-padding-top-4">Manage your education and skills funding </h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <section>
                    <div class="grid-row">
                        <div class="dashboard-item column-third">
                            <a href="choose-statement-type.html">
                                <div class="tile-wrap variant">
                                    <h3>Allocation statements</h3>
                                    <p>View statements</p>
                                    <span></span>
                                </div>
                            </a>
                            <div class="alert-wrap"><div><span>!</span></div><div><p>1 new statement</p></div></div>
                        </div>
                    </div>
                </section>
            </div>
          </div>
        </div>
      </div>
  </main>
{% endblock %}