{% extends "layouts/main.html" %}

{% set pageName="Allocation-statement" %}

{% block content %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">Viewing as Trn (Train) Ltd. (UKPRN: 10000082) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
 </div>
<!-- Pahse banner end -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./allocation-dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./choose-statement-type.html">Choose a statement type</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">19+ Allocation statements</li>
    </ol>
  </div>

  <h1 class="govuk-heading-xl govuk-!-padding-top-6">19+ Allocation statements</h1>

    <main class="govuk-main-wrapper">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                             <!--ESFA funded adult education-->
                             <div class="govuk-accordion__section queryFilterType05">
                                <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <a class="govuk-accordion__heading-text-left govuk-accordion__section-button " id="accordion-default-heading-5">
                                    ESFA adult skills fund for 2024 to 2025
                                    <span class="govuk-accordion__heading-number-left" style="float: right;">£7,651,579</span>
                                    <span class="govuk-caption-m govuk-main-wrapper">Published: 6 July 2024. Version 2 
                                        <strong class="govuk-tag govuk-tag--blue"> Latest
                                        </strong>
                                    </span> 
                                    </a>
                                </h2>
                                </div>
                                <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                                    <h2 class="govuk-heading-s">Funding breakdown</h2>
                                    <p class="govuk-body">
                                        <a href="./statement-pages/esfa-adult-skills-fund-grant.html" class="govuk-link">
                                            View ESFA adult skills fund </a>
                                    </p>
                                    <h2 class="govuk-heading-s">Allocation history</h2>
                                    <p class="govuk-body">
                                        <a href="./allocation-history/esfa-adult-skills-fund-grant-history.html" class="govuk-link">View history of allocated funding</a>
                                    </p>          
                                    <h2 class="govuk-heading-s">Explore the topic</h2>
                                    <p class="govuk-body">
                                        <a href=" https://www.gov.uk/guidance/19-funding-allocations" target=”_blank” class="govuk-link">ESFA 19+ funding allocation guides: 2024 to 2025 (opens in new tab)</a>
                                    </p>
                                </div> 
                            </div>
                            <!--16 to 18 traineeships -->
                                <div class="govuk-accordion__section queryFilterType01">
                                    <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                        <a class="govuk-accordion__heading-text-left govuk-accordion__section-button" id="accordion-default-heading-1">
                                            16 to 18 traineeships for 2024 to 2025
                                            <span class="govuk-accordion__heading-number-left" style="float: right;">£100,500</span>
                                            <span class="govuk-caption-m govuk-main-wrapper">Published: 8 April 2024. Version 1
                                            <strong class="govuk-tag govuk-tag--blue"> New
                                            </strong>
                                            </span> 
                                        </a>
                                        </h2>
                                    </div>
                                    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                                        <h2 class="govuk-heading-s">Funding breakdown</h2>
                                        <p class="govuk-body">
                                            <a href="./statement-pages/16to18-allocation-statement.html" class="govuk-link">
                                                View 16 to 18 traineeships</a>
                                        </p>
                                    <h2 class="govuk-heading-s">Allocation history</h2>
                                    <p class="govuk-body">
                                        <a href="./allocation-history/16to18-allocation-history.html" class="govuk-link">View history of allocated funding</a>
                                    </p>
                                    <h2 class="govuk-heading-s">Explore the topic</h2>
                                    <p class="govuk-body">
                                        <a href=" https://www.gov.uk/guidance/19-funding-allocations" class="govuk-link" target="_blank">
                                            ESFA 19+ funding allocation guides: 2024 to 2025 (opens in new tab)</a>
                                    </p>
                                    </div>         
                                </div>
                                <!--19 to 24 traineships-->
                                <div class="govuk-accordion__section queryFilterType02">
                                    <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <a class="govuk-accordion__heading-text-left govuk-accordion__section-button" id="accordion-default-heading-2">
                                                19 to 24 traineeships for 2024 to 2025
                                            <span class="govuk-accordion__heading-number-left" style="float: right;">£49,500</span>
                                            <span class="govuk-caption-m govuk-main-wrapper">Published: 8 April 2024. Version 1
                                                <strong class="govuk-tag govuk-tag--blue"> New
                                                </strong>
                                            </span> 
                                            </a>
                                        </h2>
                                    </div>
                                    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                                        <h2 class="govuk-heading-s">Funding breakdown</h2>
                                        <p class="govuk-body">
                                            <a href="./statement-pages/19to24-traineeships.html" class="govuk-link">
                                                View 19 to 24 traineeships (2020 procurement) </a>
                                        </p>
                                        <h2 class="govuk-heading-s">Allocation history</h2>
                                        <p class="govuk-body">
                                            <a href="./allocation-history/19to24-allocation-history.html" class="govuk-link">View history of allocated funding</a>
                                        </p>          
                                        <h2 class="govuk-heading-s">Explore the topic</h2>
                                        <p class="govuk-body">
                                            <a href=" https://www.gov.uk/guidance/19-funding-allocations" target=”_blank” class="govuk-link">ESFA 19+ funding allocation guides: 2024 to 2025 (opens in new tab)</a>
                                        </p>
                                    </div> 
                                </div>
                                <!-- Advanced learner loans-->
                                <div class="govuk-accordion__section queryFilterType03">
                                    <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <a class="govuk-accordion__heading-text-left govuk-accordion__section-button " id="accordion-default-heading-3">
                                            Advanced learner loans for 2024 to 2025
                                        <span class="govuk-accordion__heading-number-left" style="float: right;">£7,533</span>
                                        <span class="govuk-caption-m govuk-main-wrapper">Published: 29 March 2024. Version 1 
                                            <strong class="govuk-tag govuk-tag--blue"> New
                                            </strong>
                                        </span> 
                                        </a>
                                    </h2>
                                    </div>
                                    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                                        <h2 class="govuk-heading-s">Funding breakdown</h2>
                                        <p class="govuk-body">
                                            <a href="./statement-pages/advanced-leaner-loans.html" class="govuk-link">
                                                View advanced learner loans</a>
                                        </p>
                                        <h2 class="govuk-heading-s">Allocation history</h2>
                                        <p class="govuk-body">
                                            <a href="./allocation-history/advanced-learner-loans-history.html" class="govuk-link">View history of allocated funding</a>
                                        </p>          
                                        <h2 class="govuk-heading-s">Explore the topic</h2>
                                        <p class="govuk-body">
                                            <a href=" https://www.gov.uk/guidance/19-funding-allocations" target=”_blank” class="govuk-link">ESFA 19+ funding allocation guides: 2024 to 2025 (opens in new tab)</a>
                                        </p>
                                    </div> 
                                </div>
                                <!---->
                                <!-- Apprenticeship carry-in-->
                                <div class="govuk-accordion__section queryFilterType04">
                                    <div class="govuk-accordion__section-header">
                                    <h2 class="govuk-accordion__section-heading">
                                        <a class="govuk-accordion__heading-text-left govuk-accordion__section-button " id="accordion-default-heading-4">
                                        Apprenticeship carry-in for 2024 to 2025
                                        <span class="govuk-accordion__heading-number-left" style="float: right;">£31,900</span>
                                        <span class="govuk-caption-m govuk-main-wrapper">Published: 8 August 2024. Version 1 
                                            <strong class="govuk-tag govuk-tag--blue"> New
                                            </strong>
                                        </span> 
                                        </a>
                                    </h2>
                                    </div>
                                    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                                        <h2 class="govuk-heading-s">Funding breakdown</h2>
                                        <p class="govuk-body">
                                            <a href="./statement-pages/apprenticeship-carry-in.html" class="govuk-link">
                                                View apprenticeship carry-in</a>
                                        </p>
                                    <h2 class="govuk-heading-s">Allocation history</h2>
                                        <p class="govuk-body">
                                            <a href="./allocation-history/apprenticeship-carry-in-history.html" class="govuk-link">View history of allocated funding</a>
                                        </p>          
                                        <h2 class="govuk-heading-s">Explore the topic</h2>
                                        <p class="govuk-body">
                                            <a href=" https://www.gov.uk/guidance/19-funding-allocations" target=”_blank” class="govuk-link">ESFA 19+ funding allocation guides: 2024 to 2025 (opens in new tab)</a>
                                        </p>
                                    </div> 
                                </div>
                               
                                <!--Non-levy apprenticeships-->
                                    <div class="govuk-accordion__section queryFilterType06">
                                        <div class="govuk-accordion__section-header">
                                        <h2 class="govuk-accordion__section-heading">
                                            <a class="govuk-accordion__heading-text-left govuk-accordion__section-button " id="accordion-default-heading-6">
                                            Non-levy apprenticeship for 2024 to 2025
                                            <span class="govuk-accordion__heading-number-left" style="float: right;">£238,130</span>
                                            <span class="govuk-caption-m govuk-main-wrapper">Published: 1 February 2024. Version 1 
                                                <strong class="govuk-tag govuk-tag--blue"> New
                                                </strong>
                                            </span> 
                                            </a>
                                        </h2>
                                        </div>
                                        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                                            <h2 class="govuk-heading-s">Funding breakdown</h2>
                                            <p class="govuk-body">
                                                <a href="./statement-pages/non-levy-apprenticeships.html" class="govuk-link">
                                                    View non-levy apprenticeship</a>
                                            </p>
                                            <h2 class="govuk-heading-s">Allocation history</h2>
                                            <p class="govuk-body">
                                                <a href="./allocation-history/nonlevy-apprenticeships-history.html" class="govuk-link">View history of allocated funding</a>
                                            </p>          
                                            <h2 class="govuk-heading-s">Explore the topic</h2>
                                            <p class="govuk-body">
                                                <a href=" https://www.gov.uk/guidance/19-funding-allocations" target=”_blank” class="govuk-link">ESFA 19+ funding allocation guides: 2024 to 2025 (opens in new tab)</a>
                                            </p>
                                        </div> 
                                    </div>
                        </div>
                    </div>
                     <!--Pagination-->
                    <div class="govuk-pagination__next">
                        <span class="govuk-pagination__link-title" id="pagination-info">
                            Showing 1 to 6 of 6 allocation statements
                        </span>
                    </div>
                    <div class="app-back-to-top app-back-to-top--fixed  button-align" data-module="app-back-to-top">
                        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                          <svg role="presentation" focusable="false" class="app-back-to-top__icon govuk-!-padding-top-8" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                          </svg>Back to top
                        </a>
                      </div>
                <!---->
        </div>
    </main>
{% endblock %}

