{% extends "layouts/main.html" %}

{% set pageName="Agreement signed" %}

{% block beforeContent %}
<!-- Phase banner -->
    <div class="govuk-phase-banner">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-phase-banner__content">
              <span class="govuk-phase-banner__text">Viewing as Trn (Train) Ltd. (UKPRN: 10000082) </span>
            </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <p class="govuk-phase-banner__content">
              <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
              <span class="govuk-link"><a href="#" >Sign out</a></span>
            </p>
          </div>
      </div>
    </div>
 {% endblock %}

 {% block content %}
 

  <main class="govuk-main-wrapper govuk-main-wrapper--l govuk-!-padding-top-8" >
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Agreement signed
          </h1>
          <div class="govuk-panel__body">
            ESFA apprenticeship agreement October 2024. <br> Version 8
            <br><span class="govuk-!-font-size-19">Signed by [Firstname] [Lastname] on 19 November 2024 at 10:48am</span>
          </div>
        </div>
        <p class="govuk-body govuk-!-padding-top-2">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          What happens next

          You can now approve apprentice cohorts and continue to work with employers to add <br/> apprentices in the apprenticeship service.  </p>
       
        <p class="govuk-body">Go back to
          <a href="../signed-list-view.html" class="govuk-link">Contracts and agreements</a>.
        </p>
        <h2 class="govuk-heading-m">Help us improve this service</h2>
        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service? (Opens in new tab)</a> (takes 2 minutes)
        </p>
       
      </div>
    </div>
  </main>
{% endblock %}

