{% extends "layouts/main.html" %}

{% set pageName="Sign your agreement" %}

{% block beforeContent %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">Viewing as Trn (Train) Ltd. (UKPRN: 10000082) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
 </div>
<!-- Pahse banner end -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../dashboard.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../list-view.html">Contracts and agreements</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="review-agreement.html">Review your agreement</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">Sign your agreement
      </li>
    </ol>
  </div>
  {% endblock %}

  {% block content %}

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-caption-l govuk-!-padding-top-6"> ESFA apprenticeship agreement October 2024. <span class="govuk-!-font-weight-bold"> Version 8</span>
              <strong class="govuk-tag govuk-tag--blue govuk-!-padding-left-2">
                Ready to sign
              </strong> </h1>
              <h1 class="govuk-heading-l  govuk-!-padding-bottom-4">Sign your agreement</h1>
          </div>
          <div class="govuk-grid-column-full">
               <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">By signing you:</p>
                  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    <li>confirm that you’ve read and understood all the terms and conditions of the agreement and that [Organisation name] will be bound to comply with them</li>
                    <li>confirm that you’re authorised to sign the agreement variation on behalf of [Organisation name]</li>
                    <li>agree that the agreement variation is signed digitally and is legally binding</li>
                  </ul>
                  <p class="govuk-body">  All other terms and conditions of the agreement continue to apply.</p>
           </div> 
          <div class="govuk-grid-column-full  govuk-!-padding-top-4">
            <a type="submit" href="agreement-signed-confirmation.html" class="govuk-button" data-module="govuk-button">
                    Agree and sign
            </a>
          <h2 class="govuk-heading-s  govuk-!-padding-top-4">Contract history</h2>
            <p class="govuk-body">
                  <a href="agreement-history-page-v1.html" class="govuk-link">View all versions of this contract</a>
             </p>
             <h2 class="govuk-heading-s">Explore the topic</h2>
            <p class="govuk-body">
              <a href="#" target=”_blank” class="govuk-link"> Higher technical education provider guides: 2024 to 2025 (opens in new tab)</a>
            </p>
              <p class="govuk-body">
              <a href="#" target=”_blank” class="govuk-link">Working with the Department for Education as a provider (opens in new tab)</a>

            </p>
             <!-- <h2 class="govuk-heading-s">Ask for help</h2>
            <p class="govuk-body">
                  <a href="#" class="govuk-link">Submit a contract query</a>
             </p> -->
             </div>
        </div>  
    </main>
{% endblock %}

