{% extends "layouts/main.html" %}

{% set pageName="IYO-statement" %}

{% block content %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <span class="govuk-phase-banner__text">The Dorchester Academy (UKPRN: 12345678) </span>
    <span class="govuk-link margin-left"><a href="view-your-roles">View your sub-services</a></span>
    <span class="govuk-link space-left"><a href="#">Sign out</a></span>
  </p>
</div>
<!-- Pahse banner end -->
<!--  Page layout-->
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/General-annual-grant/dashboard-First-IYO">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../allocation-statement-inyear-opener.html">Allocation statements</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        General annual grant (GAG): AY 2023 to 2024
      </li>
    </ol>
  </div>
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
        <span class="govuk-caption-m heading-space">This allocation: <span class="govuk-!-font-weight-bold">Published 15 May 2024</span>. Opening date:<span class="govuk-!-font-weight-bold">1 May 2024</span> 
        <strong class="govuk-tag govuk-tag--blue">
          Latest
        </strong> </span>
        <h1 class="govuk-heading-l">General annual grant (GAG): AY 2023 to 2024</h1>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-4">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-font-weight-regular">Total allocation<span> (based on being open 123 days)</span></h2>
        <h2 class="govuk-heading-m">£754,646.06</h2>
      </div>
      <div class="govuk-grid-column-full">
        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Details
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#sb">
                School budget share
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#mfg">
                Minimum funding guarantee
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#sg">
                Start-up grant
              </a>
            </li>
          </ul>
          <div class="govuk-tabs__panel" id="sb">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-font-weight-regular">Total school budget share</h2>
            <h2 class="govuk-heading-m">£676,888.09</h2>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Basic entitlement</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Pupil numbers</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Full year sub-total</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Part year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Primary</td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                  <td class="govuk-table__cell" style="text-align: right;">£1,532,035.14</td>
                  <td class="govuk-table__cell" style="text-align: right;">£516,274.85</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Total basic entitlement</td>
                  <td class="govuk-table__cell" style="text-align: right;"></td>
                  <td class="govuk-table__cell" style="text-align: right;">£1,532,035.14</td>
                  <td class="govuk-table__cell" style="text-align: right;">£516,274.85</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2023-to-2024/academy-general-annual-grant-allocation-guide-2023-to-2024-academic-year#basic-entitlement:~:text=1.%20Basic%20entitlement" class="govuk-link" rel="noreferrer noopener" target="_blank">More about basic entitlement (opens in new tab)</a>
            </p>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Deprivation</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Pupil numbers</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Full year sub-total</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Part year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Primary IDACI band A (most deprived)</td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                  <td class="govuk-table__cell" style="text-align: right;">£5,192.65</td>
                  <td class="govuk-table__cell" style="text-align: right;"> £1,749.85</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Primary IDACI band B </td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                  <td class="govuk-table__cell" style="text-align: right;">£23,853.75</td>
                  <td class="govuk-table__cell" style="text-align: right;">£8,038.39</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Primary IDACI band C </td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                  <td class="govuk-table__cell" style="text-align: right;">£16,328.46</td>
                  <td class="govuk-table__cell" style="text-align: right;">£5,502.47</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Primary IDACI band D </td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                  <td class="govuk-table__cell" style="text-align: right;">£4,259.60</td>
                  <td class="govuk-table__cell" style="text-align: right;">£1,435.43</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Primary IDACI band E</td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                  <td class="govuk-table__cell" style="text-align: right;">£26,287.80</td>
                  <td class="govuk-table__cell" style="text-align: right;">£8,858.63</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Primary IDACI band F (least deprived)  </td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                  <td class="govuk-table__cell" style="text-align: right;">£2,900.58</td>
                  <td class="govuk-table__cell" style="text-align: right;">£977.46</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Primary free school meals</td>
                  <td class="govuk-table__cell"style="text-align: right;">470</td>
                  <td class="govuk-table__cell" style="text-align: right;">£63,397.02</td>
                  <td class="govuk-table__cell" style="text-align: right;">£21,363.93</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Primary pupils eligible for free school meals in past 6 years </td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                  <td class="govuk-table__cell" style="text-align: right;">£81,976.98</td>
                  <td class="govuk-table__cell" style="text-align: right;">£27,625.12</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total deprivation </td>
                  <td class="govuk-table__cell" style="text-align: right;"></td>
                  <td class="govuk-table__cell" style="text-align: right;">£224,196.84</td>
                  <td class="govuk-table__cell" style="text-align: right;">£75,551.28</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2023-to-2024/academy-general-annual-grant-allocation-guide-2023-to-2024-academic-year#deprivation:~:text=6.00-,2.%20Deprivation,-This%20is%20a" class="govuk-link" rel="noreferrer noopener" target="_blank">More about deprivation (opens in new tab)</a>
            </p>
            <!--<p class="govuk-body">
              <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">More about free school meals  (opens in new tab)</a>
            </p>-->
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Low prior attainment</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Pupil numbers</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Full year sub-total</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Part year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Primary schools not achieving the expected level of development</td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                  <td class="govuk-table__cell" style="text-align: right;">£115,974.32</td>
                  <td class="govuk-table__cell" style="text-align: right;">£39,081.76</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Total low prior attainment</td>
                  <td class="govuk-table__cell" style="text-align: right;"></td>
                  <td class="govuk-table__cell" style="text-align: right;">£115,974.32</td>
                  <td class="govuk-table__cell" style="text-align: right;">£39,081.76</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2023-to-2024/academy-general-annual-grant-allocation-guide-2023-to-2024-academic-year#prior-attainment:~:text=40.00-,3.%20Prior%20Attainment,-This%20is%20a" class="govuk-link" rel="noreferrer noopener" target="_blank">More about low prior attainment (opens in new tab)</a>
            </p>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">English as an additional language (EAL)</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Pupil numbers</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Full year sub-total</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Part year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Primary pupils in first 3 years of education within England</td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                  <td class="govuk-table__cell" style="text-align: right;">£12,673.80</td>
                  <td class="govuk-table__cell" style="text-align: right;">£4,270.90</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Total English as an additional language</td>
                  <td class="govuk-table__cell" style="text-align: right;"></td>
                  <td class="govuk-table__cell" style="text-align: right;">£12,673.80</td>
                  <td class="govuk-table__cell" style="text-align: right;">£4,270.90</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2023-to-2024/academy-general-annual-grant-allocation-guide-2023-to-2024-academic-year#english-as-an-additional-language-eal:~:text=4.%20English%20as%20an%20additional%20language%20(EAL)" class="govuk-link" rel="noreferrer noopener" target="_blank">More about English as an additional language (opens in new tab)</a>
            </p>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Mobility</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Pupil numbers</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Full year sub-total</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Part year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Primary pupils starting school on unusual entry dates (proportion above 6%)</td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                  <td class="govuk-table__cell" style="text-align: right;">£750.50</td>
                  <td class="govuk-table__cell" style="text-align: right;">£252.91</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Total mobility</td>
                  <td class="govuk-table__cell" style="text-align: right;"></td>
                  <td class="govuk-table__cell" style="text-align: right;">£750.50</td>
                  <td class="govuk-table__cell" style="text-align: right;">£252.91</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2023-to-2024/academy-general-annual-grant-allocation-guide-2023-to-2024-academic-year#mobility:~:text=100.00-,5.%20Mobility,-This%20is%20a" class="govuk-link" rel="noreferrer noopener" target="_blank">More about mobility (opens in new tab)</a>
            </p>
            
            <div class="govuk-grid-row govuk-!-padding-top-4">
              <div class="govuk-grid-column-one-quarters">
                <h2 class="govuk-heading-s govuk-!-padding-left-3 govuk-!-padding-top-0">Total pupil-led factors for full year 
                  <span class="govuk-heading-s total-value govuk-!-padding-right-5">£1,885,630.60</span>
                </h2>
                <h2 class="govuk-heading-s govuk-!-padding-left-3 govuk-!-padding-top-0">Total pupil-led factors for part year 
                  <span class="govuk-heading-s total-value govuk-!-padding-right-5">£635,431.70</span>
                </h2>
              </div>
            </div>
            
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Lump sum</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;"></th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Full year sub-total</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Part year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Total primary lump sum</td>
                  <td class="govuk-table__cell" style="text-align: right;"></td>
                  <td class="govuk-table__cell" style="text-align: right;">£123,021.00</td>
                  <td class="govuk-table__cell" style="text-align: right;">£41,456.39</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2023-to-2024/academy-general-annual-grant-allocation-guide-2023-to-2024-academic-year#lump-sum:~:text=4.469223-,7.%20Lump%20sum,-This%20is%20a" class="govuk-link" rel="noreferrer noopener" target="_blank">More about lump sum (opens in new tab)</a>
            </p>
            <!-- <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--s govuk-!-padding-top-4 govuk-!-padding-bottom-2">Sparsity</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header">Pupil numbers</th>
                  <th scope="col" class="govuk-table__header">Full year sub-total</th>
                  <th scope="col" class="govuk-table__header">Part year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Total for small academy in sparsely populated areas</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell">£0.00</td>
                </tr>
              </tbody>
            </table> -->
            <div class="govuk-grid-row govuk-!-padding-top-4">
              <div class="govuk-grid-column-one-quarters">
                <h2 class="govuk-heading-s govuk-!-padding-left-3 govuk-!-padding-top-0">Total other factors for full year 
                  <span class="govuk-heading-s total-value govuk-!-padding-right-5">£123,021.00</span>
                </h2>
                <h2 class="govuk-heading-s govuk-!-padding-left-3 govuk-!-padding-top-0">Total other factors for part year 
                  <span class="govuk-heading-s total-value govuk-!-padding-right-5">£41,456.39</span>
                </h2>
              </div>
            </div>
            
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Minimum funding level</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Pupil numbers</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Full year sub-total</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Part year sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Minimum per pupil funding level set by local authority</td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                  <td class="govuk-table__cell" style="text-align: right;">£4,265.00</td>
                  <td class="govuk-table__cell" style="text-align: right;">Not applicable</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-!-width-one-half">Total adjustment to make sure minimum funding level is met</td>
                  <td class="govuk-table__cell" style="text-align: right;"></td>
                  <td class="govuk-table__cell" style="text-align: right;">£0.00</td>
                  <td class="govuk-table__cell" style="text-align: right;">£0.00</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2023-to-2024/academy-general-annual-grant-allocation-guide-2023-to-2024-academic-year#minimum-per-pupil-funding-level:~:text=%2D-,Minimum%20per%20pupil%20funding%20level,-The%20NFF%20provides" class="govuk-link" rel="noreferrer noopener" target="_blank">More about minimum per pupil level (opens in new tab)</a>
            </p>
            <div class="govuk-grid-row govuk-!-padding-top-4">
              <div class="govuk-grid-column-one-quarters">
                <h2 class="govuk-heading-s govuk-!-padding-left-3 govuk-!-padding-top-0">Total funding adjustments for full year 
                  <span class="govuk-heading-s total-value govuk-!-padding-right-5">£0.00</span>
                </h2>
                <h2 class="govuk-heading-s govuk-!-padding-left-3 govuk-!-padding-top-0">Total funding adjustments for part year
                  <span class="govuk-heading-s total-value govuk-!-padding-right-5">£0.00</span>
                </h2>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarters">
                <h2 class="govuk-heading-m govuk-!-padding-left-3 govuk-!-padding-top-3">Total school budget share
                  <span class="text-space"></span>
                  <span class="govuk-heading-m govuk-!-padding-right-5" style="float:right;">£676,888.09</span>
                </h2>
              </div>
            </div><br>
            <p class="govuk-body">£2,545.00 from total school budget share is 
              <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">funding de-delegated to the local authority for central services (opens in new tab) </a>
              when this was a maintained school. After the school becomes an academy, the local authority will keep -£2,545.00 to provide those central services until 31 August 2024.
            </p>
            <p class="govuk-body">£39,081.76 from your total school budget share is the
              <a href="http://www.gov.uk/government/publications/pre-16-schools-funding-local-authority-guidance-for-2023-to-2024/the-notional-sen-budget-for-mainstream-schools-operational-guidance" class="govuk-link" rel="noreferrer noopener" target="_blank"> notional special educational needs budget (opens in new tab).</a>
            </p>
          </div>
          <!--Minimum funding guarantee-->
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="mfg">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-font-weight-regular">Total minimum funding guarantee</h2>
            <h2 class="govuk-heading-m">£9,007.97</h2>
            <div class="govuk-inset-text">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2023-to-2024/academy-general-annual-grant-allocation-guide-2023-to-2024-academic-year#minimum-funding-guarantee-mfg:~:text=the%20MFG%20section.-,Minimum%20funding%20guarantee%20(MFG),-This%20section%20is" class="govuk-link" rel="noreferrer noopener" target="_blank">Minimum funding guarantee (opens in new tab) </a> is to make sure the change in per pupil school budget share between the previous academic year and the current academic year will not fall below the local authority guaranteed change. Your local authority has set this at 0%.
            </div>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Minimum funding guarantee for days open (not adjusted for pupils)</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Calculation</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Minimum funding guarantee for full year</td>
                  <td class="govuk-table__cell" style="text-align: right;"></td>
                  <td class="govuk-table__cell" style="text-align: right;">£26,730.98</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Days in full year</td>
                  <td class="govuk-table__cell" style="text-align: right;">÷</td>
                  <td class="govuk-table__cell" style="text-align: right;">365</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Days open</td>
                  <td class="govuk-table__cell" style="text-align: right;">x</td>
                  <td class="govuk-table__cell" style="text-align: right;">123</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Minimum funding guarantee for days open (not adjusted for pupils)</td>
                  <td class="govuk-table__cell" style="text-align: right;">=</td>
                  <td class="govuk-table__cell" style="text-align: right;">£9,007.97</td>
                </tr>
              </tbody>
            </table>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Pupil adjustment</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Calculation</th>
                  <th scope="col" class="govuk-table__header govuk-!-padding-right-3" style="text-align: right;">Sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Pupil numbers actually funded</td>
                  <td class="govuk-table__cell" style="text-align: right;"></td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Pupil numbers used in original minimum funding guarantee calculation</td>
                  <td class="govuk-table__cell" style="text-align: right;">÷</td>
                  <td class="govuk-table__cell" style="text-align: right;">470</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Pupil adjustment</td> 
                  <td class="govuk-table__cell" style="text-align: right;">=</td>
                  <td class="govuk-table__cell" style="text-align: right;">1</td>
                </tr>
              </tbody>
            </table>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Minimum funding guarantee for days open (adjusted for pupils)</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Calculation</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Minimum funding guarantee for days open (not adjusted for pupils)</td>
                  <td class="govuk-table__cell" style="text-align: right;"></td>
                  <td class="govuk-table__cell" style="text-align: right;">£9,007.97</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Pupil adjustment</td>
                  <td class="govuk-table__cell" style="text-align: right;">x</td>
                  <td class="govuk-table__cell" style="text-align: right;">1</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Minimum funding guarantee for days open (adjusted for pupils)</td> 
                  <td class="govuk-table__cell" style="text-align: right;">=</td>
                  <td class="govuk-table__cell" style="text-align: right;">£9,007.97</td>
                </tr>
              </tbody>
            </table>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarters">
                <h2 class="govuk-heading-m govuk-!-padding-left-3 govuk-!-padding-top-3">Total minimum funding guarantee
                  <span class="govuk-heading-m govuk-!-padding-right-3"style="float: right;">£9,007.97</span>
                </h2>
              </div>
            </div>
          </div>
          <!--Start-up grant-->
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="sg">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-font-weight-regular">Total start-up grant for new academy</h2>
            <h2 class="govuk-heading-m">£68,750.00</h2>
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4 govuk-!-padding-bottom-2">Start-up grant</caption>
              
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Description</th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;"></th>
                  <th scope="col" class="govuk-table__header" style="text-align: right;">Sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Flat rate - paid first year of opening</td>
                  <td class="govuk-table__cell" style="text-align: right;"></td>
                  <td class="govuk-table__cell" style="text-align: right;">£50,000.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Growth towards full capacity - paid over 2 years to primary schools</td>
                  <td class="govuk-table__cell" style="text-align: right;"></td>
                  <td class="govuk-table__cell" style="text-align: right;">£18,750.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total start-up grant</td>
                  <td class="govuk-table__cell" style="text-align: right;"></td>
                  <td class="govuk-table__cell" style="text-align: right;">£68,750.00</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2023-to-2024/academy-general-annual-grant-allocation-guide-2023-to-2024-academic-year#post-opening-grant-start-up-grant:~:text=days%20/%20366%20days-,Post%2Dopening%20grant%20(start%2Dup%20grant),-This%20will%20show" class="govuk-link govuk-link--no-visited-state" target="_blank">More about start-up grant (opens in new tab)</a>
            </p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarters">
                <h2 class="govuk-heading-m govuk-!-padding-left-3 govuk-!-padding-top-3">Total start-up grant for new academy
                  <span class="govuk-heading-m govuk-!-padding-right-3"Style="float:right;">£68,750.00</span>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--print, save and download-->
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <!--Print and save section-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter image-width">
            <img class="print" src="/public/images/print.png" alt="print icon">
          </div>
          <div class="govuk-grid-column-three-quarters save-print">
            <a href="#" class="govuk-link">Save or print this statement</a>
          </div>
        </div>
        
        <!--Download CSV section-->
        <div class="govuk-grid-row govuk-!-padding-top-2"> 
          <div class="govuk-grid-column-one-quarter image-width">
            <img class="print govuk-!-padding-top-0" src="/public/images/document.png" alt="download icon">
          </div>
          <a href="#" class="save-print govuk-link govuk-!-padding-top-2">Download the raw data for this statement (CSV, 208KB)</a>
          <p class="govuk-body" style="font-size: 16px;">You may need a different format if you’re using assistive technology.<a href="#"> Request an accessible format.</a></p>
       </div><br>
    
    <div class="govuk-grid-row govuk-!-padding-left-5 govuk-!-padding-left-5"> 
      <h2 class="govuk-heading-m">Allocation history</h2>
      <p class="govuk-body">
        <a href="../allocation-history-inyear.html" class="govuk-link">View history of allocated funding</a>
      </p>
      <h2 class="govuk-heading-m">Explore the topic</h2>
      <p class="govuk-body">
        <a href="https://www.gov.uk/government/publications/academies-general-annual-grant-allocation-guides-2023-to-2024/academy-general-annual-grant-allocation-guide-2023-to-2024-academic-year" class="govuk-link" target="_blank">General annual grant allocation guide: 2023 to 2024 (opens in new tab)</a>
      </p>
    </div>
  </div>
</div>
</main>
</div>
<!-- End-->
{% endblock %}