{% extends "layouts/main.html" %}
 
{% set pageName="Allocation history" %}
 
{% block content %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <span class="govuk-phase-banner__text">The Dochester Academy (UKPRN: 12345678) </span>
        <span class="govuk-link margin-left"><a href="view-your-roles">View your sub-services</a></span>
        <span class="govuk-link space-left"><a href="#">Sign out</a></span>
    </p>
 </div>
<!-- Pahse banner end -->
<!--  Page layout-->
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../start.html">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Your allocation statements</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            Allocation history
            </li>
        </ol>
      </div>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l heading-space"><span class="govuk-caption-xl">General annual grant</span>Allocation history</h1>
            <p class="govuk-body">Find detailed breakdowns of general annual grant for The Dorchester Academy for each academic year.</p>
            </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">AY 2023 to 2024</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Publication date</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >15 April 2024</a> <strong class="govuk-tag">
                            Latest
                          </strong></th>
                        <td class="govuk-table__cell">Revised indicative part year allocation statement</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >15 March 2024</a></th>
                        <td class="govuk-table__cell">Indicative part year allocation statement</td>
                      </tr>                   
                    </tbody>
                </table>
            </div>
          </div>
        <h1 class="govuk-heading-l">Previous years</h1>
        <p class="govuk-body">You can view older allocation statements in <a href='#' class="govuk-link">Document Exchange (opens in new tab)</a></p>
        </div>
      </div>
    </main>
  </div>
  <!-- End-->
{% endblock %}