{% extends "layouts/main.html" %}
 
{% set pageName="Allocation history" %}
 
{% block content %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">The Dorchester Academy (UKPRN: 12345678) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link"><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link govuk-!-padding-left-6"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
</div>
<!-- Pahse banner end -->
<!--  Page layout-->
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/General-annual-grant/dashboard-First-IYO">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../General-annual-grant/allocation-statement-final-secondyear-opener.html">Allocation statements</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            Allocation history
            </li>
        </ol>
      </div>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l govuk-!-padding-top-8"><span class="govuk-caption-xl">General annual grant</span>Allocation history</h1>
            <p class="govuk-body">Find detailed breakdowns of general annual grant for The Dorchester Academy for each academic year.</p>
            </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">AY 2024 to 2025</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Published</th>
                        <th scope="col" class="govuk-table__header">Description</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="/General-annual-grant/final-secong-year-opener-gag/final-secondyear-statement-nocomparison">15 May 2024</a> <strong class="govuk-tag">
                            Latest
                          </strong></th>
                        <td class="govuk-table__cell ">Initial full year allocation statement</td>
                      </tr>
                    </tbody>
                </table>
                <table class="govuk-table">
                  <caption class="govuk-table__caption govuk-table__caption--m">AY 2023 to 2024</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Published</th>
                      <th scope="col" class="govuk-table__header padding-left">Description</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="/General-annual-grant/inyear-gag-statement/gag-inyear-statement-nocomparison">15 May 2024</a> <strong class="govuk-tag">
                          Latest
                        </strong></th>
                      <td class="govuk-table__cell padding-left">Final part year allocation statement</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="/General-annual-grant/indicative-statement-updated/indicative-nocomparison-statement" >15 April 2024</a> </th>
                      <td class="govuk-table__cell padding-left">Revised indicative part year allocation statement</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="/General-annual-grant/indicative-statement-new/indicative-statement">15 March 2024</a> </th>
                      <td class="govuk-table__cell padding-left">Indicative part year allocation statement</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        <h1 class="govuk-heading-m">Previous years</h1>
        <p class="govuk-body">You can view older allocation statements in <a href='#' class="govuk-link">Document Exchange (opens in new tab)</a>.</p>
        </div>
      </div>
    </main>
  <!-- End-->
{% endblock %}