{% extends "layouts/main.html" %}
 
{% set pageName="Advanced learner loans" %}
 
{% block content %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">Viewing as Trn (Train) Ltd. (UKPRN: 10000082) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link"><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link govuk-!-padding-left-4"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
 </div>
<!-- Pahse banner end -->
<!--  Page layout-->
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href=".././allocation-dashboard.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href=".././choose-statement-type.html">Choose a statement type</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../statement-list-page.html">19+ Allocation statements</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">Advanced learner loans for 2024 to 2025
      </ol>
    </div>
 
<main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-margin-bottom-2">
                  <h1 class="govuk-caption-m govuk-!-padding-top-8  govuk-!-margin-bottom-0"> Published : 29 March 2024. <span class="govuk-!-font-weight-bold"> Version 1</span>
                  <strong class="govuk-tag govuk-tag--blue">
                    Latest
                  </strong> </h1>
                    <h1 class="govuk-heading-l">Advanced learner loans for 2024 to 2025 </h1>
                </div>
            </div>
      <div class="govuk-grid-row">
             <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-font-weight-regular">Total 2024 to 2025 allocation </h2>
                <h2 class="govuk-heading-l">£xxx,xxx.xx</h2>
             </div>
            <div class="govuk-grid-column-full" >
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-6">Advanced learner loans facility</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Description</th>
                  <th scope="col" class="govuk-table__header align">Sub-total</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"> August 2024 to March 2025</td>
                  <td class="govuk-table__cell align">£XXX,XXX</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"> April 2025 to July 2025</td>
                  <td class="govuk-table__cell align">£XXX,XXX</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Total Advanced learner loans</td>
                  <td class="govuk-table__cell align">£XXX,XXX</td>
                </tr>
              </tbody>
            </table>
         </div>   
        <div class="govuk-grid-column-full govuk-!-margin-bottom-6" >
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-6 govuk-!-margin-top-6">Advanced learner loan bursary</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Description</th>
                <th scope="col" class="govuk-table__header align">Sub-total</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">August 2024 to March 2025</td>
                <td class="govuk-table__cell align">£XXX,XXX </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">April 2025 to July 2025</td>
                <td class="govuk-table__cell align">£XXX,XXX</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Advanced learner loans </td>
                <td class="govuk-table__cell align">£XXX,XXX</td>
              </tr>
            </tbody>
          </table>
        </div>   
        <div class="govuk-grid-row govuk-!-margin-top-6 govuk-!-padding-left-5">
          <div class="govuk-grid-column-one-quarters">
            <h2 class="govuk-heading-l ">Total 2024 to 2025 allocation
              <span class="govuk-heading-l govuk-!-padding-right-3"style="float: right;" >£XXX,XXX</span>
           </h2>
          </div>
        </div>
        <div class="govuk-grid-row govuk-!-padding-left-5">
          <p class="govuk-!-padding-top-6"> To find out more about advanced learner loans funding and how allocations are calculated, read the <a class="govuk-link" href="https://www.gov.uk/government/publications/19-funding-allocations-guidance-2024-to-2025"
            rel="noreferrer noopener" target="_blank" title="Opens in a new tab"> 19+
           allocations technical guidance for 2024 to 2025 (opens in new tab)</a>.
          </p>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-6 govuk-!-margin-top-6">Changes to your allocation</h2>
          <p><a  class="govuk-link"
             href="#" rel="noreferrer noopener" target="_blank" title="Opens in a new tab">You must follow the advanced learner loans funding rules (opens in new tab)</a>. We can reduce or remove your allocation if there's evidence that public funds are at risk. 
          </p>
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              Allocation statements are not legally binding. They do not create any legal obligation against the Secretary of State for Education, acting through the Education and Skills Funding Agency (ESFA).
            </strong>
          </div>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Submit a business case</h2>
          <p>You can  <a class="govuk-link" href="https://www.gov.uk/guidance/19-funding-allocations#business-cases"
            rel="noreferrer noopener" target="_blank" title="Opens in a new tab">submit a business case (opens in new tab)</a> if you have given incorrect data to the ESFA and this has affected your funding allocation. For example, a mistake in your R04 return.
           </p>
        </div>
        <div class="govuk-grid-row govuk-!-padding-left-5 govuk-!-padding-top-6"> 
          <h2 class="govuk-heading-m">Allocation history</h2>
          <p class="govuk-body">
            <a href="../allocation-history/advanced-learner-loans-history.html" class="govuk-link">View history of allocated funding</a>
          </p>
          <h2 class="govuk-heading-m">Explore the topic</h2>
          <p class="govuk-body">
            <a href=" https://www.gov.uk/guidance/19-funding-allocations" class="govuk-link" target="_blank">
              Advanced learner loans guides: 2024 to 2025 (opens in new tab)</a>
          </p>
        </div>
        <div class="govuk-grid-row"> 
          <div class="govuk-grid-column-one-quarter image-width">
            <img class="print" src="/public/images/print.png" alt="print icon">
          </div>
          <div class="govuk-grid-column-two-quarters save-print">
          <a href="#" class="govuk-link">Save or print this statement</a>
          </div>
        </div>
    </div>    
</main>
  <!-- End-->
{% endblock %}