{% extends "layouts/main.html" %}
 
{% set pageName="16 to 18 allocation statement" %}
 
{% block content %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-phase-banner__content">
          <span class="govuk-phase-banner__text">Viewing as Trn (Train) Ltd. (UKPRN: 10000082) </span>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-phase-banner__content">
          <span class="govuk-link"><a href="view-your-roles">View your sub-services</a></span>
          <span class="govuk-link govuk-!-padding-left-4"><a href="#" >Sign out</a></span>
        </p>
      </div>
  </div>
 </div>
<!-- Pahse banner end -->
<!--  Page layout-->
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href=".././allocation-dashboard.html">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href=".././choose-statement-type.html">Choose a statement type</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="../statement-list-page.html">19+ Allocation statements</a>
        </li>
        <li class="govuk-breadcrumbs__list-item"> Non-levy apprenticeships for 2024 to 2025
      </ol>
    </div>
 
<main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-2">
          <h1 class="govuk-caption-m govuk-!-padding-top-8  govuk-!-margin-bottom-0"> Published :xxx. <span class="govuk-!-font-weight-bold"> Version 2</span>
          <strong class="govuk-tag govuk-tag--blue">
            Latest
          </strong> </h1>
            <h1 class="govuk-heading-l"> Non-levy apprenticeships for 2024 to 2025 </h1>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-grid-row">
             <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-font-weight-regular">Total 2024 to 2025 allocation </h2>
                <h2 class="govuk-heading-l">£921,937.77</h2>
             </div>
            <div class="govuk-grid-column-full" >
             
               
      </div>
</main>
 
  <!-- End-->
{% endblock %}