{% extends "layouts/main.html" %}
 
{% set pageName="Contract history" %}
 
{% block beforeContent %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-phase-banner__content">
            <span class="govuk-phase-banner__text">Viewing as Trn (Train) Ltd. (UKPRN: 10000082) </span>
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-phase-banner__content">
            <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
            <span class="govuk-link"><a href="#" >Sign out</a></span>
          </p>
        </div>
    </div>
   </div>
<!-- Pahse banner end -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../list-view.html">Contracts and agreements</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="review-contract.html">Review your contract</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Contract history
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l govuk-!-padding-top-6"><span class="govuk-caption-xl">Higher technical education provider growth fund </span>Contract history</h1>
            <p class="govuk-body govuk-!-font-size-24">View all versions of this contract.</p>
            </div>
      </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                  <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-6">AY 2021 to 2022</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Published</th>
                      <th scope="col" class="govuk-table__header">Version</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                      <td class="govuk-table__cell">Version 9</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                      <td class="govuk-table__cell">Version 8</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                      <td class="govuk-table__cell">Version 7</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                      <td class="govuk-table__cell">Version 6</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                      <td class="govuk-table__cell">Version 5</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                      <td class="govuk-table__cell">Version 4</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                      <td class="govuk-table__cell">Version 3</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                      <td class="govuk-table__cell">Version 2</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                      <td class="govuk-table__cell">Version 1</td>
                    </tr>
                  </tbody>
              </table>
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">AY 2020 to 2021</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Published</th>
                    <th scope="col" class="govuk-table__header govuk-!-padding-right-2">Version</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                    <td class="govuk-table__cell">Version 9</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                    <td class="govuk-table__cell">Version 8</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                    <td class="govuk-table__cell">Version 7</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                    <td class="govuk-table__cell">Version 6</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                    <td class="govuk-table__cell">Version 5</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                    <td class="govuk-table__cell">Version 4</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                    <td class="govuk-table__cell">Version 3</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                    <td class="govuk-table__cell">Version 2</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >6 June 2024 </a></th>
                    <td class="govuk-table__cell">Version 1</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>  
           
        <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                  <p class=" govuk-!-padding-top-6">Showing page 2 of 2</p>
                </div>
                <div class="govuk-grid-column-three-quarters">
                  <p>
                    <nav class="govuk-pagination" aria-label="Pagination" style="padding:0px 0px; float:right;">
                      <div class="govuk-pagination__prev">
                        <a class="govuk-link govuk-pagination__link" href="contract-history-page-v1.html" rel="prev">
                          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                          </svg>
                          <span class="govuk-pagination__link-title">
                            Previous<span class="govuk-visually-hidden"> page</span>
                          </span>
                        </a>
                      </div>
                      <ul class="govuk-pagination__list">
                        <li class="govuk-pagination__item">
                          <a class="govuk-link govuk-pagination__link" href="contract-history-page-v1.html" aria-label="Page 1">
                            1
                          </a>
                        </li>
                        <li class="govuk-pagination__item govuk-pagination__item--current">
                          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                            2
                          </a>
                        </li>
                        
                      </ul>
                    </nav>
                  </p>
                </div>
        </div>
          <div class="app-back-to-top app-back-to-top--fixed  button-align" data-module="app-back-to-top">
            <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
              <svg role="presentation" focusable="false" class="app-back-to-top__icon govuk-!-padding-top-6" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
              </svg>Back to top
            </a>
          </div>
      </div>
  </main>
{% endblock %}