{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
<header>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "p1kzsetroa");
</script>
</header>
<div class="govuk-grid-row ">
  <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-padding-top-8">
              {{ serviceName }}
              <span class="govuk-caption-xl">GOV.UK prototype kit version <span class="govuk-!-font-weight-bold">{{releaseVersion}}</span></h1>
            </h1>
            <div class="app-prose-scope"> 
            <p>The prototype of this new kit starts from version 127-0-0. To see previous versions of the MYESF prototype and journeys, please refer to the Old <abbr title="Manage your education and skills funding">MYESF</abbr> prototype section below. user journey from the list below.</p>
            </div>
          <!-- USER JOURNEYS --> 
              <div class="govuk-!-margin-top-8 ">
                  <p>
                    <a class="govuk-button" href="/start">
                      Start</a>
                   </p>
              </div>
             
  </div>
</div>
{% endblock %}
