{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row ">
  <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-padding-top-8">
				Signed-in
            </h1>
			<h1 class="govuk-heading-l">
				Allocation statements
			</h1>
			<h2 class="govuk-heading-m">
				GAG IYO statement
			</h2>
			<div class="govuk-body">
				<ul class="govuk-list govuk-list--bullet">
					  <li><a class="govuk-link" href="sign-in1.html">1st Indicative statement (all tabs) no variance</a></li>
					  <li><a class="govuk-link" href="sign-in2.html">2nd Indicative statement (all tabs) - With comparison feature</a></li>
					  <li><a class="govuk-link" href="./General-annual-grant/dashboard-First-IYO.html">First and Second final IYO GAG - No variance</a></li>
					</ul>	
			</div>	
			<h2 class="govuk-heading-m">
				19+ Allocation statement 
			</h2>
			<div class="govuk-body">
				<ul class="govuk-list govuk-list--bullet">
					  <li><a class="govuk-link" href="./Allocation-statements/Adult-allocation-statements/statement-list-page.html">Statement list page </a></li>
					</ul>	
			</div>	
             
  </div>
  <div class="govuk-grid-column-full">
	<h1 class="govuk-heading-l">Contracts & agreements [Under development]
		</h1>
		<div class="govuk-body">
			<ul class="govuk-list govuk-list--bullet">
				<li><a class="govuk-link" href="./contracts-agreements/dashboard.html">Contracts & agreements journey
				</a></li>
			</ul>	
			<!-- <ul class="govuk-list govuk-list--bullet">
				<li><a class="govuk-link" href="./contracts-agreements/list-view2.html">Contracts & agreements journey v2
				</a></li>
			</ul>	 -->
		</div>	
	</h1>
  </div>
</div>
{% endblock %}
