{% extends "layouts/main.html" %}
 
{% set pageName="Contract history" %}
 
{% block beforeContent %}
<!-- Phase banner -->
<div class="govuk-phase-banner">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-phase-banner__content">
            <span class="govuk-phase-banner__text">Viewing as Shaftesbury Technical College  (UKPRN: 10002345) </span>
          </p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-phase-banner__content">
            <span class="govuk-link govuk-!-padding-right-4"><a href="view-your-roles">View your sub-services</a></span>
            <span class="govuk-link"><a href="#" >Sign out</a></span>
          </p>
        </div>
    </div>
   </div>
<!-- Pahse banner end -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../dashboard.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../list-view-signed.html">Currently funded contracts and agreements</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../contract-history/contract-history.html">Contract history all versions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Contract history
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<header>
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "p1kzsetroa");
</script>
</header>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l govuk-!-padding-top-6"><span class="govuk-caption-xl">Education and skills funding (EDSK) contract</span>Contract history</h1>
            <p class="govuk-body govuk-!-font-size-24">View all versions of this contract.</p>
            </div>
      </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                  <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-4">2024 to 2025</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Published</th>
                      <th scope="col" class="govuk-table__header govuk-!-padding-right-3">Version</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="../ready-to-sign/view-signed-contract.html" > 9 February 2025  </a>
                        <strong class="govuk-tag govuk-tag--grey govuk-!-margin-left-2">
                          Latest
                        </strong> </th>
                      <td class="govuk-table__cell ">Version 4
                      </td>
                    </tr>   
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link govuk-!-padding-right-1" href="#" >18 December 2024  </a> 
                       </th>
                      <td class="govuk-table__cell">Version 3 </td>
                    </tr>   
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link govuk-!-padding-right-1" href="#" >18 July 2024  </a> 
                       </th>
                      <td class="govuk-table__cell">Version 2  </td>
                    </tr>   
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link govuk-!-padding-right-1" href="#" >22 April 2024 </a> 
                       </th>
                      <td class="govuk-table__cell">Version 1 </td>
                    </tr>                 
                    </tbody>
                </table>
                <table class="govuk-table">
                  <caption class="govuk-table__caption govuk-table__caption--m">2023 to 2024</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Published</th>
                    <th scope="col" class="govuk-table__header govuk-!-padding-right-7">Version</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="../ready-to-review/amended-contract.html" >22 January 2025 </a>
                        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-2">
                          Ready to review
                        </strong></th>
                      <!-- <td class="govuk-table__cell">Version 8   </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >22 November 2024 </a></th>
                      <td class="govuk-table__cell">Version 7</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >25 March 2024 </a></th>
                      <td class="govuk-table__cell">Version 6</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >26 February 2024 </a></th>
                      <td class="govuk-table__cell">Version 5</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >24 January 2024 </a></th>
                      <td class="govuk-table__cell">Version 4</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >29 September 2023 </a></th>
                      <td class="govuk-table__cell">Version 3</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >20 September 2023 </a></th> -->
                      <td class="govuk-table__cell">Version 2</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >27 July 2023 </a></th>
                      <td class="govuk-table__cell">Version 1</td>
                    </tr>
                  </tbody>
              </table>
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">2022 to 2023</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"style="width:75%;">Published</th>
                    <th scope="col" class="govuk-table__header">Version</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >15 December 2023 </a></th>
                    <td class="govuk-table__cell">Version 9</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >15 December 2023 </a></th>
                    <td class="govuk-table__cell">Version 8</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >23 November 2023 </a></th>
                    <td class="govuk-table__cell">Version 7</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >16 March 2023 </a></th>
                    <td class="govuk-table__cell">Version 6</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >27 February 2023 </a></th>
                    <td class="govuk-table__cell">Version 5</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >20 December 2022 </a></th>
                    <td class="govuk-table__cell">Version 4</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >22 November 2022 </a></th>
                    <td class="govuk-table__cell">Version 3</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >16 September 2022 </a></th>
                    <td class="govuk-table__cell">Version 2</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-font-weight-regular"><a class="govuk-link" href="#" >30 August 2022</a></th>
                    <td class="govuk-table__cell">Version 1</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>  
           
        <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                  <p class=" govuk-!-padding-top-6">Showing page 1 of 2</p>
                </div>
                <div class="govuk-grid-column-three-quarters">
                  <p><nav class="govuk-pagination" aria-label="Pagination"style="padding:0px 0px; float:right;">
                    <ul class="govuk-pagination__list">
                      <li class="govuk-pagination__item govuk-pagination__item--current">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                          1
                        </a>
                      </li>
                      <li class="govuk-pagination__item">
                        <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                          2
                        </a>
                      </li>
                     
                    </ul>
                    <div class="govuk-pagination__next">
                      <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                        <span class="govuk-pagination__link-title">
                          Next<span class="govuk-visually-hidden"> page</span>
                        </span>
                        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                        </svg>
                      </a>
                    </div>
                  </nav></p>
                </div>
        </div>
        
          <div class="app-back-to-top app-back-to-top--fixed  button-align" data-module="app-back-to-top">
            <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
              <svg role="presentation" focusable="false" class="app-back-to-top__icon  govuk-!-padding-right-1" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
              </svg>Back to top
            </a>
          </div>
      </div>
  </main>
  
{% endblock %}



